<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
  <head>
    <title>Monaco Motel - Wildwood, NJ Motel Near Beach, Boardwalk and Convention Center</title>
    <meta charset="utf-8">
    <meta name="keywords" content="Wildwood Motel, Near Boardwalk, Wildwood NJ, Morey's Piers, Near Convention Center, Ocean Ave, Wildwood Hotel, Motels, Jersey Shore, Doo Wop Motel, Coupons, Reservations, Monaco" />

    <meta name="keywords" content="wildwood nj motel, motel near boardwalk, wildwood nj, hotel, motel, convention center, beach, jersey shore, affordable, coupons, discounts, doo wop, festivals, doo wop motel" />

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <%= stylesheet_link_tag "all", "jquery-ui-1.8.11.custom", "jquery.lightbox-0.5" %>
  </head>

<body background="images/bg_dia1.gif" topmargin="0" bgcolor="#d582f7" link="#0078ff" marginheight="0">
<table border="0" cellspacing="0" cellpadding="0" width="960" bgcolor="#e0c1fb" align="center">
<tbody>
<tr>
<td>
<table border="0" cellspacing="0" cellpadding="0" width="100%" align="center">
<tbody>
<tr>
<td>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
<tr>
<td><img alt="" src="images/top_left_corner.gif" width="30" height="61" _wpro_SRC="images/top_left_corner.gif" /></td>
<td><img alt="" src="images/palms_anim.gif" width="290" height="61" _wpro_SRC="images/palms_anim.gif" /></td>
<td><img alt="" src="images/top_crown.gif" width="310" height="61" _wpro_SRC="images/top_crown.gif" /></td>
<td><a href="reservations.html" _wpro_HREF="reservations.html"><img alt="" border="0" src="images/top_reservations_anim3.gif" width="300" height="61" _wpro_SRC="images/top_reservations_anim3.gif" /></a></td>
<td><img alt="" src="images/top_right_corner.gif" width="30" height="61" _wpro_SRC="images/top_right_corner.gif" /></td></tr></tbody></table></td></tr>
<tr>
<td>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
<tr>
<td width="30"><img alt="" src="images/top_left.gif" width="30" height="117" _wpro_SRC="images/top_left.gif" /></td>
<td><a href="http://www.doowopusa.org" target="_blank" _wpro_HREF="http://www.doowopusa.org"><img border="0" alt="Certified Doo Wop Property" src="images/top_doowop.gif" width="290" height="117" _wpro_SRC="images/top_doowop.gif" /></a></td>
<td><a href="index.html" _wpro_HREF="index.html"><img border="0" alt="Monaco Motel, Wildwood NJ" src="images/top_logo.gif" width="310" height="117" _wpro_SRC="images/top_logo.gif" /></a></td>
<td><img alt="4211 Ocean Ave, Wildwood, NJ 08260, 609-522-2269" src="images/top_address.gif" width="300" height="117" _wpro_SRC="images/top_address.gif" /></td>
<td width="30"><img alt="" src="images/top_right.gif" width="30" height="117" _wpro_SRC="images/top_right.gif" /></td></tr></tbody></table></td></tr>
<tr>
<td>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
<tr>
<td background="images/left_bg.gif" width="30">&nbsp;</td>
<td bgcolor="#a547ea" colspan="2">
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
<tr>
<td valign="top" width="290">
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
<tr>
<td>
<%= partial 'navigation' %>
</td></tr>

<tr>
<td>&nbsp;</td></tr>

<tr>
  <td align="center" valign="middle"><br>
    <iframe src="http://www.facebook.com/plugins/likebox.php?href=https://www.facebook.com/monacomotelwildwood&amp;width=180&amp;colorscheme=light&amp;show_faces=false&amp;border_color&amp;stream=false&amp;header=true&amp;height=100" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:180px; height:100px;" allowTransparency="false"></iframe></td>
</tr>

<tr>
<td>&nbsp;</td></tr>

<tr>
<td>
<div align="center"><a href="coupons.html" _wpro_HREF="coupons.html"><img border="0" alt="Vacation Coupons" src="images/misc/vacation_coupons.gif" width="240" height="98" _wpro_SRC="images/misc/vacation_coupons.gif" /></a></div></td></tr>

<tr>
<td>
<div align="center"><a href="clubmonaco.html" _wpro_HREF="clubmonaco.html"><img border="0" alt="Club Monaco - Special Offers for Repeat Guests!" src="images/misc/club_monaco.gif" width="240" height="95" _wpro_SRC="images/misc/club_monaco.gif" /></a></div></td></tr><!-- Tripadvisor block -->

<tr>
<td>&nbsp;</td></tr></tbody></table></td>

<td valign="top">
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
<tr>
<td>
<table border="0" cellspacing="0" cellpadding="0" width="570" align="center">
<tbody>
<tr>
<td><img alt="" src="images/rbox_blue_top_left.gif" width="15" height="12" _wpro_SRC="images/rbox_blue_top_left.gif" /></td>
<td bgcolor="#b2e0ec" width="540"><img alt="" src="images/spacer.gif" width="10" height="5" _wpro_SRC="images/spacer.gif" /></td>
<td><img alt="" src="images/rbox_blue_top_right.gif" width="15" height="12" _wpro_SRC="images/rbox_blue_top_right.gif" /></td></tr>
<tr>
<td bgcolor="#b2e0ec">&nbsp;</td>
<td bgcolor="#b2e0ec">
<table class="bodytext" border="0" cellspacing="3" cellpadding="3" width="100%">
<tbody>
<tr>
<td>

  <%= yield %>

</td>
</tr></tbody></table></td>
<td bgcolor="#b2e0ec">&nbsp;</td></tr>
<tr>
<td><img alt="" src="images/rbox_blue_bottom_left.gif" width="15" height="12" _wpro_SRC="images/rbox_blue_bottom_left.gif" /></td>
<td bgcolor="#b2e0ec"><img alt="" src="images/spacer.gif" width="10" height="5" _wpro_SRC="images/spacer.gif" /></td>
<td><img alt="" src="images/rbox_blue_bottom_right.gif" width="15" height="12" _wpro_SRC="images/rbox_blue_bottom_right.gif" /></td></tr></tbody></table></td></tr>
<tr>
<td>&nbsp;</td></tr></tbody></table></td></tr></tbody></table></td>
<td background="images/right_bg.gif" width="30">&nbsp;</td></tr></tbody></table></td></tr>
<tr>
<td>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
<tr>
<td background="images/left_bg.gif" width="30">&nbsp;</td>
<td bgcolor="#fff573" height="76" colspan="2">
<table class="bodytext" border="0" cellspacing="0" cellpadding="0" width="100%" align="center">
<tbody>
<tr>
<td width="200">
<div align="center"><a href="contactus.html" _wpro_HREF="contactus.html"><strong>Contact Us</strong></a>&nbsp; |&nbsp; <a href="policies.html" _wpro_HREF="policies.html"><strong>Policies</strong></a><a href="directions.html" _wpro_HREF="directions.html"></a></div></td>
<td>
<div align="center"><a href="specials.html" _wpro_HREF="specials.html"><img alt="" border="0" src="images/banners/2010_specials.gif" width="400" height="40" _wpro_SRC="images/banners/2010_specials.gif" /></a></div></td>
<td width="200">
<div align="center"><a href="http://www.wildwoods.org" target="_blank" _wpro_HREF="http://www.wildwoods.org"><img border="0" alt="Greater Wildwood Hotel &amp; Motel Association" src="images/misc/logo_gwhma.gif" width="101" height="76" _wpro_SRC="images/misc/logo_gwhma.gif" /></a> <a href="http://www.moreyspiers.com" target="_blank" _wpro_HREF="http://www.moreyspiers.com"><img border="0" alt="Morey's Piers Wildwood, NJ" src="images/misc/logo_moreys.gif" width="82" height="76" _wpro_SRC="images/misc/logo_moreys.gif" /></a> </div></td></tr></tbody></table></td>
<td background="images/right_bg.gif" width="30">&nbsp;</td></tr></tbody></table></td></tr>
<tr>
<td>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
<tr>
<td><img alt="" src="images/bottom_left_corner.gif" width="30" height="26" _wpro_SRC="images/bottom_left_corner.gif" /></td>
<td colspan="3"><img alt="" src="images/bottom_line.gif" width="900" height="26" _wpro_SRC="images/bottom_line.gif" /></td>
<td><img alt="" src="images/bottom_right_corner.gif" width="30" height="26" _wpro_SRC="images/bottom_right_corner.gif" /></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table>
     <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
     <%= javascript_include_tag  "all" %>
</body>
</html>
