<table border="0" cellspacing="0" cellpadding="0" width="290" class='navigation'>
<tbody>

<tr>
  <td><a href="index.html" data-bgimage-name='home'><img alt="" border="0" src="images/nav/home.gif" width="290" height="30"/></a></td>
</tr>

<tr>
  <td><a href="aboutus.html" data-bgimage-name='about'><img alt="" border="0" src="images/nav/about.gif" width="290" height="30"/></a></td>
</tr>

<tr>
  <td><a href="rates.html" data-bgimage-name='rooms'><img alt="" border="0" src="images/nav/rooms.gif" width="290" height="30"/></a></td>
</tr>

<tr>
  <td><a href="photo.html" data-bgimage-name='photo'><img alt="" border="0" src="images/nav/photo.gif" width="290" height="30"/></a></td>
</tr>

<tr>
  <td><a href="amenities.html" data-bgimage-name='amenities'><img alt="" border="0" src="images/nav/amenities.gif" width="290" height="30"/></a></td>
</tr>

<tr>
  <td><a href="specials.html" data-bgimage-name='specials'><img alt="" border="0" src="images/nav/specials.gif" width="290" height="30"/></a></td>
</tr>

<tr>
  <td><a href="attractions.html" data-bgimage-name='attractions'><img alt="" border="0" src="images/nav/attractions.gif" width="290" height="30"/></a></td>
</tr>

<tr>
  <td><a href="directions.html" data-bgimage-name='location'><img alt="" border="0" src="images/nav/location.gif" width="290" height="30"/></a></td>
</tr>

<tr>
  <td><a href="availability.html" data-bgimage-name='reservations'><img alt="" border="0" src="images/nav/reservations.gif" width="290" height="30"/></a></td>
</tr>

</tbody></table>
