<table border="0" cellspacing="2" cellpadding="2" width="530" align="center">
<tbody>
<tr>
<td bgcolor="#f2fcfd" valign="top" width="25%">
<div align="center"><font class="smallbody" color="#666666" size="1" face="Verdana, Arial, Helvetica, sans-serif">April 26-28<br />
<a href="salute-to-60s.html">Salute to the '60s</a></font></div></td>
<td bgcolor="#fefded" valign="top" width="25%">
<div align="center"><font class="smallbody" color="#666666" size="1" face="Verdana, Arial, Helvetica, sans-serif">May 3-5<br />
<a href="grand-re-opening.html">Grand Re-Opening Celebration</a></font></div></td>
<td bgcolor="#f2fcfd" valign="top" width="25%">
<div align="center"><font class="smallbody" color="#666666" size="1" face="Verdana, Arial, Helvetica, sans-serif">May 24-27<br />
<a href="memorial-day.html">Memorial Day Weekend</a></font></div></td>
<td bgcolor="#fefded" valign="top" width="25%">
<div align="center"><font class="smallbody" color="#666666" size="1" face="Verdana, Arial, Helvetica, sans-serif">July 4-7<br />
<a href="july-4th.html">July Fourth Weekend</a></font></div></td></tr>
<tr valign="top">
<td bgcolor="#fefded">
<div align="center"><font class="smallbody" color="#666666" size="1" face="Verdana, Arial, Helvetica, sans-serif">Aug 30-Sept 2<br />
<a href="labor-day.html">Labor Day Weekend</a></font></div></td>
<td bgcolor="#f2fcfd">
<div align="center"><font class="smallbody" color="#666666" size="1" face="Verdana, Arial, Helvetica, sans-serif">Sept 20-22<br />
<a href="itallian-dinner-party-and-classic-car-show.html">Italian Dinner Party &amp; <br />
Classic Car Show</a></font></div></td>
<td bgcolor="#fefded">
<div align="center"><font class="smallbody" color="#666666" size="1" face="Verdana, Arial, Helvetica, sans-serif">Sept 27-29<br />
<a href="oktoberfest-celebration.html">Oktoberfest &amp; <br />
Monster Truck Weekend</a></font></div></td>
<td bgcolor="#f2fcfd">
<div align="center"><font class="smallbody" color="#666666" size="1" face="Verdana, Arial, Helvetica, sans-serif">Oct 11-13<br />
<a href="fall-getaway-weekend-for-lovers.html">Fall Getaway Weekend for Lovers</a></font></div></td></tr>
<tr valign="top">
<td bgcolor="#f2fcfd">
<div align="center"><font class="smallbody" color="#666666" size="1" face="Verdana, Arial, Helvetica, sans-serif">Oct 18-19<br />
<a href="fabulous-50s-weekend.html">Fabulous Fifties Weekend</a></font></div></td>
<td bgcolor="#fefded">
<div align="center"></div></td>
<td bgcolor="#f2fcfd">
<div align="center"></div></td>
<td bgcolor="#fefded">
<div align="center"></div></td></tr></tbody></table>
<br/>
<br/>
