<table class="bodytext" border="0" cellspacing="3" cellpadding="3" width="100%">
<tbody>
<tr>
<td>
<p><font color="#9900ff"><strong>About
the Monaco</strong><br />
<br /></font>The Monaco Motel is just steps from Wildwood's Famous <a href="attractions.html">Beach and Boardwalk</a>. Only one block to the <a href="http://www.wildwoodsnj.com">Wildwood
Convention Center</a>, <a href="http://www.doowopusa.org/museum/index.html">Doo
Wop Museum</a>, and the new home of the <a target="_blank" href="http://www.capemaycountyherald.com/article/56419-vietnam+memorial+wall+groundbreaking+planned+wildwood">Vietnam
Memorial</a>. Conveniently located on Ocean Avenue. Close to restaurants, shopping,
amusement piers &amp; water parks. Minutes to tennis courts and bike rentals.
Ideal for Family Vacations, Romantic Getaways, <a href="specials.html">Special
Event Weekends &amp; Festivals</a>.<br />
<br />We offer reasonable rates for a family
vacation! Cleanliness &amp; Friendliness is important to us! The Monaco Motel
offers you a comfortable, relaxed environment, your home away from home.<br />
<br />COME
SHARE IN THE FUN AT THE MONACO MOTEL!</p>
<table border="0" cellspacing="2" cellpadding="4" width="500" bgcolor="#cccccc" align="center" height="200">
<tbody>
<tr>
<td>
  <div align="center"><img alt="" width="500" height="311" src="images/photos/night1_500w.jpg" /></div></td></tr></tbody></table></td></tr></tbody></table>
