<table class="bodytext" border="0" cellspacing="3" cellpadding="3" width="100%">
<tbody>
<tr>
<td>
<p><font color="#9900ff"><strong>Amenities &amp; Services</strong><br />
<br /></font><strong>Our guests enjoy the following amenities at
the Monaco:</strong></p>
<table border="0" cellspacing="2" cellpadding="4" width="100%">
<tbody>
<tr>
<td valign="top">
<table border="0" cellspacing="2" cellpadding="4" width="150" height="250">
<tbody>
<tr valign="top">
<td>
<div align="center"><a href="images/new%20room1_800.jpg"><img alt="" border="0" width="150" height="113" src="images/new%20room1.JPG" /></a><br />
<br /><a target="_blank" href="images/photos/deck_1_300w.jpg"><img alt="" border="0" width="150" height="113" src="images/photos/deck_1_150w.jpg" /></a></div></td></tr></tbody></table></td>
<td width="15">&nbsp;</td>
<td valign="top" width="325">
<table class="bodytext" border="0" cellspacing="3" cellpadding="4" width="325">
<tbody>
<tr>
<td><font size="4">&bull;</font></td>
<td>Refrigerators </td></tr>
<tr>
<td><font size="4">&bull;</font></td>
<td>All Rooms are Heated and
Air-Conditioned</td></tr>
<tr>
<td><font size="4">&bull;</font></td>
<td>Alarm Clock
Radios &amp; Large Color TV's with Remote and HBO- <font color="#0000ff">NEW 32&quot;
LG FLAT SCREENS &amp; WIFI SERVICES!</font></td></tr>
<tr>
<td><font size="4">&bull;</font></td>
<td>Relaxing
Sun Deck</td></tr>
<tr>
<td><font size="4">&bull;</font></td>
<td>Daily Maid Service</td></tr>
<tr>
<td><font size="4">&bull;</font></td>
<td>Complimentary
Morning Coffee</td></tr>
<tr>
<td><font size="4">&bull;</font></td>
<td>Free Ice</td></tr>
<tr>
<td><font size="4">&bull;</font></td>
<td>Free
Parking (1 car per room)</td></tr>
<tr>
<td><font size="4">&bull;</font></td>
<td>Gas
Barbeque Grill</td></tr></tbody></table></td></tr></tbody></table>
<p><br />
<strong>The following special
services are also available:</strong></p>
<table border="0" cellspacing="2" cellpadding="4" width="100%">
<tbody>
<tr>
<td valign="top" width="325">
<table class="bodytext" border="0" cellspacing="3" cellpadding="4" width="325">
<tbody>
<tr>
<td><font size="4">&bull;</font></td>
<td>Crib,
Stroller and Wheel Chair rentals available </td></tr>
<tr>
<td><font size="4">&bull;</font></td>
<td>Casino
excursion bookings</td></tr>
<tr>
<td><font size="4">&bull;</font></td>
<td>Fishing
Charters</td></tr>
<tr>
<td><font size="4">&bull;</font></td>
<td>Golf packages</td></tr>
<tr>
<td><font size="4">&bull;</font></td>
<td>Shopping
Discounts</td></tr>
<tr>
<td><font size="4">&bull;</font></td>
<td>Restaurant Coupons</td></tr>
<tr>
<td><font size="4">&bull;</font></td>
<td>Whale
Watching</td></tr>
<tr>
<td><font size="4">&bull;</font></td>
<td>Trolley Tours</td></tr>
<tr>
<td><font size="4">&bull;</font></td>
<td>Dinner
Cruises</td></tr>
<tr>
<td><font size="4">&bull;</font></td>
<td>Boat Rentals </td></tr></tbody></table></td>
<td width="15">&nbsp;</td>
<td valign="top">
<table border="0" cellspacing="2" cellpadding="4" width="150" height="250">
<tbody>
<tr valign="top">
<td>
<div align="center"><img alt="" width="150" height="106" src="images/photos/crib_1.jpg" /><br />
<br /><img alt="" width="150" height="191" src="images/photos/golf_1.jpg" /></div></td></tr></tbody></table></td></tr></tbody></table>
<p>&nbsp;</p></td></tr></tbody></table>
