<table class="bodytext" border="0" cellspacing="3" cellpadding="3" width="100%">
<tbody>
<tr>
<td>
<p><font color="#9900ff"><strong>Attractions</strong><br />
</font><br />
The Monaco Motel is located in the heart of all the action on Ocean Avenue in Wildwood, literally just steps from the Beach and Boardwalk. Only minutes to the Amusement Piers, Doo Wop Museum, Convention Center and the new home of the Vietnam Memorial and more! Stay at The Monaco Motel for your Wildwood vacation and the <strong>possibilities are ENDLESS! Your Home Away From Home! </strong></p>
<table border="0" cellspacing="3" cellpadding="3" align="center">
<tbody>
<tr>
<td><strong><a target="_blank" href="images/wildpics/WildwoodBeach1.jpg"><img border="0" alt="Wildwood's Free Beach" width="150" height="143" src="images/wildpics/WildwoodBeach1.jpg" /></a></strong></td>
<td><strong><a target="_blank" href="images/wildpics/WildwoodBeach2.jpg"><img border="0" alt="Lifeguard on Duty, Wildwood's Free Beach" width="150" height="143" src="images/wildpics/WildwoodBeach2.jpg" /></a></strong></td>
<td><strong><img alt="Wildwood Beach Sun &amp; Fun" width="150" height="143" src="images/SKMK%20Image.JPG" /></strong></td></tr>
<tr>
<td><a target="_blank" href="images/wildpics/nascar-01a-400.jpg"><img border="0" alt="Morey's Piers Amusements" width="150" height="143" src="images/Pier%20View%20image%20day.jpg" /></a></td>
<td><img alt="Watch the Tram Car Please! Widlwood NJ" width="150" height="143" src="images/Tram%20car%20image%20(2).jpg" /></td>
<td><img alt="Wildwood Boardwalk" width="150" height="143" src="images/Boardwalk%20at%20Day%20lg.jpg" /></td></tr></tbody></table>
<p><a target="_blank" href="roompics/IMG_2529.JPG"></a><a target="_blank" href="roompics/IMG_2548.JPG"></a><strong>The beautiful sandy beaches of Wildwood, NJ play host to Wildwood New Jersey Hot Rod Association's Thunder on the Beach. The event takes place within 200' of the famous three mile long Wildwood Boardwalk.</strong> <strong>A Short Stroll from the Monaco Motel! </strong></p>
<table border="0" cellspacing="3" cellpadding="3" align="center">
<tbody>
<tr>
<td><strong><span class="pageName"><a target="_blank" href="images/wildpics/thunder1.jpg"><img border="0" alt="Thunder on the Beach Event, Wildwood New Jersey" width="225" height="155" src="images/wildpics/thunder1.jpg" /></a></span></strong></td>
<td><strong><span class="pageName"><img border="0" alt="Wildwood Monster Truck Getting Air" width="225" height="152" src="images/Monster%20Truck%20Jump%20Croped%20image.jpg" /></span></strong></td></tr>
<tr>
<td><a target="_blank" href="images/wildpics/thunder2.jpg"><img class="pageName" border="0" alt="Ferris Wheel &amp; Monster Trucks, Wildwood Beach" width="225" height="155" src="images/wildpics/thunder2.jpg" /></a></td>
<td>&nbsp;</td></tr></tbody></table>
<p><span class="pageName"><a target="_blank" href="images/wildpics/thunder1.jpg"></a></span><strong>You can't go to the Jersey shore without visiting the Wildwood Boardwalk - the 3 mile long, world famous Boardwalk!&nbsp; The Monaco Motel is close to 100' from the World Famous Wildwood Boardwalk and Famous Free Beach! You can ride bikes in the morning, chill on the beach all day, then shop, have all kinds of goodies to eat and take a relaxing ride on the Famous Jersey Shore Tram Car in the evening. Dont's forget the famous wooden roller coaster, relaxing waterparks, and the BEST pizza around!</strong></p>
<table border="0" cellspacing="3" cellpadding="3" align="center">
<tbody>
<tr>
<td><strong><a target="_blank" href="images/wildpics/boardwalk1.jpg"><img border="0" alt="Morey's Piers, Wildwood NJ" width="150" height="143" src="images/wildpics/boardwalk1.jpg" /></a></strong></td>
<td><strong><a target="_blank" href="images/wildpics/boardwalk2.jpg"><img border="0" alt="Morey's Piers, Thrilling Rides, Wildwood NJ" width="150" height="143" src="images/wildpics/boardwalk2.jpg" /></a></strong></td>
<td><strong><img alt="Famous Wildwood Boardwalk" width="150" height="143" src="images/wildpics/boardwalk3.jpg" /></strong></td></tr>
<tr>
<td><img alt="Wildwood Boardwalk Pizza" width="150" height="143" src="images/Pizza.JPG" /></td>
<td><img alt="palmsJoan" width="150" height="143" src="images/PalmswithJoanIMG_0035.jpg" /></td>
<td><img alt="giftshop" width="150" height="143" src="images/GVpix.jpg" /></td></tr></tbody></table>
<p><strong>Believe it or not, The Wildwood Boardwalk offers more rides than Disneyland!</strong> <strong>Roller coaster fans include the Sea Serpent, the Nor'Easter - an inverted looping coaster - and the Great White, the tallest and fastest wooden coaster on the East Coast</strong><strong>.</strong></p>
<table border="0" cellspacing="3" cellpadding="3" align="center">
<tbody>
<tr>
<td><strong><img alt="Fun &amp; Food, Morey's Piers, Wildwood, NJ" width="150" height="143" src="images/wildpics/pier1.jpg" /></strong></td>
<td><strong><img alt="Ferris Wheel, Morey's Piers, Wildwood New Jersey" width="150" height="143" src="images/wildpics/pier2.jpg" /></strong></td>
<td><strong><img alt="Amusements at Night" width="150" height="143" src="images/wildpics/pier3.jpg" /></strong></td></tr>
<tr>
<td><strong><img alt="Wooden Roller Coaster, Morey's Piers, Widlwood, NJ" width="150" height="143" src="images/wooden%20roller%20coaster%20image%20(2).jpg" /></strong></td>
<td><img alt="Rainbow" width="150" height="143" src="images/Rainbow11.jpg" /></td>
<td>&nbsp;</td></tr></tbody></table>
<p><strong>The <a target="_blank" href="http://www.wildwoodsnj.com/cc/">Wildwoods Convention Center</a> is a modern, multipurpose facility equipped with exhibit, ballroom, meeting and pre-function space. Located on the world famous Wildwoods Boardwalk directly overlooking the beach and ocean, this unique, state-of-the-art, 260,000-square-foot facility offers one of the most spacious, flexible, innovative and inviting venues available for conventions, trade shows, meetings, concerts and exhibits. Located within a day&rsquo;s drive of one-third of America&rsquo;s population, it can accommodate groups as small as 100 or as large as 10,000.</strong> <strong>The Monaco Motel is 1 Boardwalk block from the Wildwood Convention Center! </strong></p>
<p align="center"><strong><a target="_blank" href="images/wildpics/convention1.jpg"><img border="0" alt="Wildwood Convention Center" width="500" height="205" src="images/wildpics/convention1.jpg" /></a></strong></p>
<p>I<strong>f you love kites - if you even just <em>like</em> kites, Wildwood Beach is for you. From the hard core aficionados to the weekend kite tourist, Wildwood Beach offers something for everyone.</strong> <strong>At the Monaco Motel, the options are ENDLESS! </strong></p>
<p align="center"><strong><a target="_blank" href="images/wildpics/kite1.jpg"><img border="0" alt="International Kite Festival" width="402" height="191" src="images/wildpics/kite1.jpg" /></a></strong><strong> <br />
<img alt="Kites, Wildwood NJ" width="402" height="191" src="images/Kites.jpg" /></strong></p>
<p align="center"><strong><br />
<br /></strong><br />
The Monaco Motel is conveniently located near:<br />
<strong><a href="http://www.wildwoodsnj.com">Wildwood Convention Center</a> &nbsp;|&nbsp; <a href="http://www.doowopusa.org/museum/index.html">Doo Wop Museum</a> &nbsp;|&nbsp; <a href="http://www.capemaycountyherald.com/article/56419-vietnam+memorial+wall+groundbreaking+planned+wildwood">New Home of Vietnam Memorial</a></strong></p></td></tr></tbody></table>
