<TABLE WIDTH="100%" BORDER="0" CELLSPACING="3" CELLPADDING="3" CLASS="bodytext">
  <TR>
    <TD>
      <P ALIGN="CENTER"><IMG SRC="images/misc/club_monaco_350w.gif" WIDTH="350" HEIGHT="168">
      <BR><BR><BR>ask about our <FONT COLOR="#660099">
        <B><I>Royal Treatment</I></B>
      </FONT>Value Discounts!<BR><BR>Call us now at 609-522-2269 or <A HREF="mailto:monacomotel@hotmail.com">e-mail us!</A>
      <BR><BR><BR><BR></P>
      <P ALIGN="CENTER">&nbsp;</P>
      <P ALIGN="CENTER">&nbsp;</P>
    </TD>
  </TR>
</TABLE>
