<TABLE WIDTH="100%" BORDER="0" CELLSPACING="3" CELLPADDING="3" CLASS="bodytext">
  <TR>
    <TD>
      <TABLE WIDTH="0" BORDER="0" CELLSPACING="2" CELLPADDING="4" ALIGN="CENTER" CLASS="bodytext">
        <TR VALIGN="TOP">
          <TD>
            <IMG SRC="images/photos/palms_1_200w.jpg" WIDTH="200" HEIGHT="333"/>
              </TD>
              <TD>&nbsp;</TD>
              <TD>
                <P ALIGN="CENTER">
                  <B>
                    The Monaco Motel<BR>4211 Ocean Avenue<BR>Wildwood, New Jersey 08260</B><BR><BR>Phone:<B><BR> (609) 522-2269<BR><BR></B>E-Mail:<B><BR>
                    <A HREF="mailto:monacomotel@hotmail.com">monacomotel@hotmail.com</A>
                  </B>
                  </P>
                  <P ALIGN="CENTER"><BR><A HREF="reservations.html">Make a Reservation</A><BR><BR>
                  <A HREF="directions.html">See map and driving directions</A></P>
                  <P ALIGN="CENTER"><BR><BR><BR><BR><BR><BR><BR><BR></P>
              </TD>
            </TR>
          </TABLE>
          <P ALIGN="CENTER">&nbsp;</P>
    </TD>
</TR>
</TABLE>
