<TABLE WIDTH="100%" BORDER="0" CELLSPACING="3" CELLPADDING="3"
  CLASS="bodytext"><TR><TD><TABLE WIDTH="351" BORDER="0"
        CELLSPACING="2" CELLPADDING="4" HEIGHT="150"
        BGCOLOR="#FFFFFF" ALIGN="CENTER"><TR><TD><DIV
              ALIGN="CENTER"><P><FONT SIZE="5"><B>Grandview Gift
                  Shop<BR><FONT SIZE="3">COMPLIMENTARY
                    GIFT<BR><BR></FONT></B></FONT><FONT SIZE="1"
                FACE="Verdana, Arial, Helvetica, sans-serif">AT BAKER
                AVE. AND THE BOARDWALK <BR>STOP BY TO PICKUP YOUR
                FREE GIFT! <BR>Courtesy of THE MONACO MOTEL
                <BR><BR>One FREE GIFT per room per stay <BR>Must
                present this COUPON and ROOM KEY to <BR>REDEEM FREE
                GIFT</FONT></P></DIV></TD></TR></TABLE><BR><TABLE
        WIDTH="351" BORDER="0" CELLSPACING="2" CELLPADDING="4"
        HEIGHT="150" BGCOLOR="#FFFFFF" ALIGN="CENTER"><TR><TD><DIV
              ALIGN="CENTER"><P><FONT SIZE="5"><B><A
                    HREF="http://www.monacomotelwildwood.com/Fruit%27n%27Scoop_Free_Coupon.pdf"
                    TARGET="_blank">Fruit 'n' Scoop</A></B></FONT><A
                HREF="http://www.monacomotelwildwood.com/Fruit%27n%27Scoop_Free_Coupon.pdf"><BR><B>FREE
                  COUPON!</B></A><BR><BR><FONT SIZE="1"
                FACE="Verdana, Arial, Helvetica, sans-serif">One FREE
                GIFT per room per stay <BR>Must present this COUPON
                and ROOM KEY to <BR>REDEEM FREE
                GIFT</FONT></P></DIV></TD></TR></TABLE></TD></TR></TABLE>
