<table class="bodytext" border="0" cellspacing="3" cellpadding="3" width="100%">
<tbody>
<tr>
<td>
<table class="bodytext" border="0" cellspacing="2" cellpadding="4">
<tbody>
<tr>
<td valign="top"><font color="#9900ff"><img alt="" width="129" height="82" src="images/photos/neon_mini.jpg" /></font></td>
<td>&nbsp;</td>
<td valign="top">The
Monaco Motel is just steps from Wildwood's Famous <a href="attractions.html">Beach
and Boardwalk</a>. Only one block to the <a href="http://www.wildwoodsnj.com">Wildwood
Convention Center</a>, <a href="http://www.doowopusa.org/museum/index.html">Doo
Wop Museum</a>, and the future home of the <a target="_blank" href="http://www.capemaycountyherald.com/article/56419-vietnam+memorial+wall+groundbreaking+planned+wildwood">Vietnam
Memorial</a>. Conveniently located on Ocean Avenue. Close to restaurants, shopping,
amusement piers &amp; water parks. Minutes to tennis courts and bike rentals.
Ideal for Family Vacations, Romantic Getaways, <a href="specials.html">Special
Event Weekends &amp; Festivals</a>.</td></tr></tbody></table>
<p align="center"><a href="http://maps.google.com/maps?hl=en&amp;source=hp&amp;um=1&amp;ie=UTF-8&amp;cid=0,0,5614492389348364095&amp;fb=1&amp;hnear=4211+Ocean+Ave+Wildwood&amp;gl=us&amp;daddr=4211+Ocean+Avenue,+Wildwood,+NJ+08260-4618&amp;geocode=3769169431301956659,38.983428,-74.816128&amp;ei=v8hMS_zjBsLf8QaftpH8DQ&amp;sa=X&amp;oi=local_result&amp;ct=directions-to&amp;resnum=1&amp;ved=0CAwQngIwAA"><strong>Get
Driving Directions!</strong></a></p>
<p align="center">
<iframe height="300" marginheight="0" frameborder="0" width="300" marginwidth="0" scrolling="no" src="http://maps.google.com/maps?hl=en&amp;source=hp&amp;ie=UTF8&amp;q=4211+Ocean+Ave+Wildwood&amp;fb=1&amp;gl=us&amp;hnear=&amp;cid=0,0,5614492389348364095&amp;ei=ycdMS6uWII-m8AbRtMj2DQ&amp;ved=0CAgQnwIwAA&amp;hq=4211+Ocean+Ave+Wildwood&amp;ll=38.983432,-74.816122&amp;spn=0.005004,0.006437&amp;z=16&amp;iwloc=A&amp;iwstate1=sn&amp;output=embed"></iframe><br />
<small><a style="text-align: left; color: #0000ff" href="http://maps.google.com/maps?hl=en&amp;source=embed&amp;ie=UTF8&amp;q=4211+Ocean+Ave+Wildwood&amp;fb=1&amp;gl=us&amp;hnear=&amp;cid=0,0,5614492389348364095&amp;ei=ycdMS6uWII-m8AbRtMj2DQ&amp;ved=0CAgQnwIwAA&amp;hq=4211+Ocean+Ave+Wildwood&amp;ll=38.983432,-74.816122&amp;spn=0.005004,0.006437&amp;z=16&amp;iwloc=A&amp;iwstate1=sn">View
    Larger Map</a></small></p></td></tr></tbody></table>
