<%= partial 'specials' %>

<table class="bodytext" border="0" cellspacing="3" cellpadding="3" width="100%">
<tbody>
<tr>
<td>
<table class="smallbody" border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
<tr>
<td valign="top">
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><font size="4" face="Verdana, Arial, Helvetica, sans-serif"><strong><font color="#666666" size="3" face="Arial">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; OCT 18-19, 2013</font><br />
<font color="#f69ece">Fabulous '50s Weekend</font></strong></font></td></tr></tbody></table><br />
<font class="smallbody" color="#666666" size="1" face="Verdana, Arial, Helvetica, sans-serif">No one does the Fabulous Fifties Weekend like the <strong>Monaco</strong>. No one!<br />
<br /></font>
<table class="smallbody" border="0" cellspacing="2" cellpadding="4">
<tbody>
<tr>
<td valign="top"><font color="#666666" size="3">&bull;</font></td>
<td><font color="#666666">Fri, is our<em><strong> Fabulous Fifties Costume Dinner Party</strong></em>. Come in a 1950s' outfit. First prize: A free weekend!! </font></td></tr>
<tr>
<td valign="top"><font color="#666666" size="3">&bull;</font></td>
<td><font color="#666666">Sat evening enjoy the<em><strong> Poolside Reception and BBQ Dinner.</strong></em></font></td></tr>
<tr>
<td valign="top"><font color="#666666" size="3">&bull;</font></td>
<td><font color="#666666">Be delighted with our creative guests who enter the <em><strong>Window Decoration Contest</strong></em>. Prizes for decorated windows!</font></td></tr>
<tr>
<td valign="top"><font color="#666666" size="3">&bull;</font></td>
<td><font color="#666666">Say your good-byes Sun, at our<em><strong> End-of-Season Monaco and Caribbean Bubbly Breakfast.</strong></em></font></td></tr></tbody></table></td>
<td width="15">&nbsp;</td>
<td valign="top" width="250">
<p align="center"><img alt="" width="250" height="146" src="images/specials/fab50s_1.jpg" /><br />
<br /><img alt="" width="250" height="174" src="images/specials/fab50s_2.jpg" /><br />
<br /><img alt="" width="250" height="188" src="images/specials/fab50s_3.jpg" /></p></td></tr></tbody></table></td></tr></tbody></table>

