<%= partial 'specials' %>

<table class="bodytext" border="0" cellspacing="3" cellpadding="3" width="100%">
<tbody>
<tr>
<td>
<table class="smallbody" border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
<tr>
<td valign="top">
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><font size="4" face="Verdana, Arial, Helvetica, sans-serif"><strong><font color="#666666" size="3" face="Arial, Helvetica, sans-serif">Oct 11-13, 2013</font><br />
<font color="#e2b66c">Fall Weekend Getaway for Lovers</font></strong></font></td></tr></tbody></table><br />
<font class="smallbody" color="#666666" size="1" face="Verdana, Arial, Helvetica, sans-serif">Treat the special person in your life to a beautiful, gourmet weekend at the Shore. It's a Perfect three-day weekend at the<strong> Monaco Motel</strong>, so get out and enjoy yourselves!!<br />
<br />There's no finer place to enjoy the peerless days of fall than at the South Jersey Shore. It's still warm! The wetlands are golden, and the beach is pristine.<br />
<br />There's no finer place to enjoy the natural beauty of the Shore than the Monaco Motel, known for its superb cuisine, engaging entertainment, and friendliest staff and guests.<br />
<br />At check-in on Friday, there's a <em><strong>champagne gift</strong></em> for everyone! Enjoy our <em><strong>Special Caribbean BBQ</strong></em> on Friday and our <em><strong>Gourmet Prime Rib Dinner Party</strong></em> on Saturday with live entertainment!<br />
<br /></font>
<table class="smallbody" border="0" cellspacing="2" cellpadding="4">
<tbody>
<tr>
<td valign="top"><font color="#666666" size="3">&bull;</font></td>
<td><font color="#666666">We serve exceptionally tender and flavorful prime rib. Served with piping hot baked potatoes and fresh vegetables and tossed salad with fine ingredients, it's a meal that you would be proud to serve to your family. </font></td></tr>
<tr>
<td valign="top"><font color="#666666" size="3">&bull;</font></td>
<td><font color="#666666"><strong>Taste the difference!</strong></font></td></tr></tbody></table><font class="smallbody" color="#666666" size="1" face="Verdana, Arial, Helvetica, sans-serif"><br />
</font></td>
<td width="15">&nbsp;</td>
<td valign="top" width="250">
  <p align="center"><img alt="" width="250" height="234" src="images/specials/fallweekend1.jpg" /></p></td></tr></tbody></table></td></tr></tbody></table>
