<%= partial 'specials' %>

<table class="bodytext" border="0" cellspacing="3" cellpadding="3" width="100%">
<tbody>
<tr>
<td valign="top">
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><font size="4" face="Verdana, Arial, Helvetica, sans-serif"><strong><font color="#666666" size="3" face="Arial, Helvetica, sans-serif">May 3-5, 2013</font><br />
<font color="#01b7cd">Grand Re-Opening Parties</font></strong></font></td></tr></tbody></table><br />
<font class="smallbody" color="#666666" size="1" face="Verdana, Arial, Helvetica, sans-serif">Foodies and music lovers gather at the Caribbean to play the horses!<br />
<br /></font>
<table class="smallbody" border="0" cellspacing="2" cellpadding="4">
<tbody>
<tr>
<td valign="top"><font color="#666666" size="3">&bull;</font></td>
<td><font color="#666666"><strong>It's Kentucky Derby Weekend!</strong> Play your favorite horse at the <em><strong>Derby Auction</strong></em>, Saturday, May&nbsp;5 and wear your Derby finery--prizes for best hat, best dressed couple! <br />
First prize:<em><strong> Free weekend!!</strong></em><br />
</font></td></tr>
<tr>
<td valign="top"><font color="#666666" size="3">&bull;</font></td>
<td>
<table border="0" cellspacing="1" cellpadding="1" width="0" align="right">
<tbody>
<tr>
<td><img alt="" width="150" height="134" src="images/specials/chefdan.jpg" /></td></tr>
<tr>
<td>
<div align="center"><font color="#666666" size="1" face="Arial, Helvetica, sans-serif">Guest Chef &quot;Dan the Grill Man&quot;</font></div></td></tr></tbody></table><font color="#666666"><strong>Gourmet meals and libations!</strong><br />
<br />Pre-function Thursday evening, May&nbsp;2 - Celebrate Cinco de Mayo at the Caribbean's Taco and Margarita Bar<br />
<br />Dinner, Friday and Saturday, May&nbsp;3 &amp; 4--a tantalizing array of tasty dishes<br />
<br />Derby Party--Savor a delicious lunch and indulge in Mint Juleps--<em><strong>The only place that serves more mint juleps than the Caribbean on Derby Day is Churchill Downs!!</strong></em><br />
<br />Sunday, May&nbsp;5 - is our Good-Bye Bubbly Breakfast</font></td></tr>
<tr>
<td valign="top"><font color="#666666" size="3">&bull;</font></td>
<td>
<table border="0" cellspacing="1" cellpadding="1" width="0" align="right">
<tbody>
<tr>
<td><img alt="" width="150" height="119" src="images/specials/gregg_sansone1.jpg" /></td></tr>
<tr>
<td>
<div align="center"><font color="#666666" size="1" face="Arial, Helvetica, sans-serif">Gregg Sansone, Solo Artist</font></div></td></tr></tbody></table><font color="#666666"><strong>Live shows all weekend by music sensation Greg Sansone</strong> --he's a solo band, not just a single instrument-- award-winning &quot;Solo Artist of the Year!&quot; <br />
<br />With a cordless guitar and keyboards, Greg plays every instrument, so he sounds just like the band he's covering--Beatles, Elton John, Frank Sinatra! </font></td></tr>
<tr>
<td valign="top"><font color="#666666" size="3">&bull;</font></td>
<td><font color="#666666"><strong>All meals, libations, and shows are included.</strong></font></td></tr></tbody></table></td></tr></tbody></table>
