<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Monaco Motel - Wildwood, NJ Motel Near Beach, Boardwalk and Convention Center</title>
  <meta charset="utf-8">
  <meta name="keywords" content="Wildwood Motel, Near Boardwalk, Wildwood NJ, Morey's Piers, Near Convention Center, Ocean Ave, Wildwood Hotel, Motels, Jersey Shore, Doo Wop Motel, Coupons, Reservations, Monaco" />

  <meta name="keywords" content="wildwood nj motel, motel near boardwalk, wildwood nj, hotel, motel, convention center, beach, jersey shore, affordable, coupons, discounts, doo wop, festivals, doo wop motel" />

  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

  <%= stylesheet_link_tag "all", "jquery-ui-1.8.11.custom", "jquery.lightbox-0.5" %>
</head>

<body background="images/bg_dia1.gif" topmargin="0" bgcolor="#d582f7" link="#0078ff" marginheight="0">
<table border="0" cellspacing="0" cellpadding="0" width="960" bgcolor="#e0c1fb" align="center">
<tbody>
<tr>
<td>
<table border="0" cellspacing="0" cellpadding="0" width="100%" align="center">
<tbody>
<tr>
<td>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
<tr>
<td><img alt="" width="30" height="61" src="images/top_left_corner.gif" /></td>
<td><img alt="" width="290" height="61" src="images/palms_anim.gif" /></td>
<td><img alt="" width="310" height="61" src="images/top_crown.gif" /></td>
<td><a href="reservations.html"><img border="0" alt="Wildwood NJ Reservations" width="300" height="61" src="images/top_reservations_anim3.gif" /></a></td>
<td><img alt="" width="30" height="61" src="images/top_right_corner.gif" /></td></tr></tbody></table></td></tr>
<tr>
<td>

<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
<tr>
<td width="30"><img alt="" width="30" height="117" src="images/top_left.gif" /></td>
<td><a target="_blank" href="http://www.doowopusa.org"><img border="0" alt="Certified Doo Wop Property" width="290" height="117" src="images/top_doowop.gif" /></a></td>
<td><a href="index.html"><img border="0" alt="Monaco Motel, Wildwood NJ" width="310" height="117" src="images/top_logo.gif" /></a></td>
<td><img alt="4211 Ocean Ave, Wildwood, NJ 08260, 609-522-2269" width="300" height="117" src="images/top_address.gif" /></td>
<td width="30"><img alt="" width="30" height="117" src="images/top_right.gif" /></td></tr></tbody></table>

</td></tr>
<tr>
<td>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
<tr>
<td background="images/left_bg.gif" width="30">&nbsp;</td>
<td>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
<tr>
<td width="290">
  <%= partial 'navigation' %>
</td>
<td>
<div id="slide-container">
<div id="slideshow"><!-- to change pictures--><img alt="" src="images/flash/monaco1.jpg" /><img alt="" src="images/flash/convcenter1.jpg" /><img alt="" src="images/flash/monaconeon.jpg" /><img alt="" src="images/flash/room1.jpg" /><img alt="" src="images/flash/beach1.jpg" /><img alt="" src="images/flash/deck1.jpg" /><img alt="" src="images/flash/mm_ne_610.jpg" /><img alt="" src="images/flash/sign.jpg" /><!-- to change pictures--></div></div></td></tr></tbody></table></td>
<td background="images/right_bg.gif" width="30">&nbsp;</td></tr></tbody></table></td></tr>
<tr>
<td>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
<tr>
<td background="images/left_bg.gif" width="30">&nbsp;</td>
<td bgcolor="#a547ea" colspan="2">
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
<tr>
<td width="290">
<table border="0" cellspacing="0" cellpadding="0" width="100%">

  <tr>
    <td><table border="0" cellspacing="0" cellpadding="0" align="center">
      <tbody>
        <tr>
          <td style="background-image: url('images/trip_top.gif')" height="67" width="150"></td>
        </tr>
        <tr>
          <td style="background: no-repeat 50% bottom" height="20" valign="top" width="150" align="center"><div style="margin-bottom: 2px" class="trip-bottom"><a style="color: black; font-size: 11pt; font-weight: bold" href="http://www.tripadvisor.com/Hotel_Review-g46931-d639148-Reviews-Monaco_Motel-Wildwood_New_Jersey.html"><img border="0" alt="" src="images/corona.gif" /> Monaco Motel<img border="0" alt="" src="images/corona.gif" /></a></div></td>
        </tr>
      </tbody>
    </table></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><br />
      <iframe src="http://www.facebook.com/plugins/likebox.php?href=https://www.facebook.com/monacomotelwildwood&amp;width=180&amp;colorscheme=light&amp;show_faces=false&amp;border_color&amp;stream=false&amp;header=true&amp;height=100" scrolling="No" frameborder="0" style="border:none; overflow:hidden; width:180px; height:100px;" allowtransparency="false"></iframe></td>
  </tr>
  <tr>
    <td><div align="center"><a href="clubmonaco.html"><br />
      <img border="0" alt="Club Monaco - Special Offers for Repeat Guests!" width="240" height="95" src="images/misc/club_monaco.gif" /></a></div></td>
  </tr>
  <tr>
    <td><div align="center"><a href="coupons.html"><br />
      <img border="0" alt="Vacation Coupons" width="240" height="98" src="images/misc/vacation_coupons.gif" /></a></div></td>
  </tr>
<tr>
  <td><div align="center"><a href="coupons.html"><br />
  </a></div></td>
</tr>
<!-- Tripadvisor block --><!-- Tripadvisor block --><!--Blogspot block -->
<tr>
<td align="center" valign="middle"></a></td></tr><!--Blogspot block -->
<tr>
<td>&nbsp;</td></tr></tbody></table></td>
<td valign="top">
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
<tr>
<td>&nbsp;</td></tr>
<tr>
<td>
<table border="0" cellspacing="0" cellpadding="0" width="570" align="center">
<tbody>
<tr>
<td><img alt="" width="15" height="12" src="images/rbox_white_top_left.gif" /></td>
<td bgcolor="#ffffff" width="540"><img alt="" width="10" height="5" src="images/spacer.gif" /></td>
<td><img alt="" width="15" height="12" src="images/rbox_white_top_right.gif" /></td></tr>
<tr>
<td bgcolor="#ffffff">&nbsp;</td>
<td bgcolor="#ffffff">
<table class="bodytext" border="0" cellspacing="3" cellpadding="3" width="100%">
<tbody>
<tr>
<td><strong><font color="#9900ff">Welcome
                                                                                    to Wildwood's Monaco Motel, with our
                                                                                    Convenient Beach Block
                                                                                    Location!</font></strong><br />
<br />The
                                                                                    Monaco Motel is just steps from
                                                                                    Wildwood's Famous <a href="attractions.html">Beach
                                                                                        and Boardwalk</a>. Only one
                                                                                    block to the <a href="http://www.wildwoodsnj.com">Wildwood
                                                                                        Convention Center</a>,<a href="http://www.doowopusa.org/museum/index.html">Doo
                                                                                        Wop Museum</a>, and the
                                                                                    new home of the <a target="_blank" href="http://www.capemaycountyherald.com/article/56419-vietnam+memorial+wall+groundbreaking+planned+wildwood">Vietnam
                                                                                        Memorial</a>. Conveniently
                                                                                    located on Ocean Avenue. Close to
                                                                                    restaurants, shopping,
                                                                                    amusement piers &amp; water parks.
                                                                                    Minutes to tennis courts and bike
                                                                                    rentals.
                                                                                    Ideal for Family Vacations, Romantic
                                                                                    Getaways, <a href="specials.html">Special
                                                                                        Event Weekends &amp;
                                                                                        Festivals</a>...<a href="specials.html"><img src="images/3_night_special_family.jpg" alt="" width="100%" /></a></td></tr></tbody></table></td>
<td bgcolor="#ffffff">&nbsp;</td></tr>
<tr>
<td><img alt="" width="15" height="12" src="images/rbox_white_bottom_left.gif" /></td>
<td bgcolor="#ffffff"><img alt="" width="10" height="5" src="images/spacer.gif" /></td>
<td><img alt="" width="15" height="12" src="images/rbox_white_bottom_right.gif" /></td></tr></tbody></table></td></tr>
<tr>
<td>&nbsp;</td></tr>
<tr>
<td>
<div class="bodytext" align="center"><strong><font color="#5ccaef">Links
                                                                of Interest:</font></strong><br />
<a href="http://www.doowopusa.org"><font color="#ffffff">Wildwoods
                                                                Doo Wop Preservation League</font></a> &nbsp;|&nbsp; <a href="http://www.moreyspiers.com"><font color="#ffffff">Morey's
                                                                Piers</font></a> &nbsp;|&nbsp; <a href="http://www.mypostcards.com"><font color="#ffffff">MyPostcards.com</font></a></div></td></tr></tbody></table></td></tr></tbody></table></td>
<td background="images/right_bg.gif" width="30">&nbsp;</td></tr></tbody></table></td></tr>
<tr>
<td>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
<tr>
<td background="images/left_bg.gif" width="30">&nbsp;</td>
<td bgcolor="#fff573" height="76" colspan="2">
<table class="bodytext" border="0" cellspacing="0" cellpadding="0" width="100%" align="center">
<tbody>
<tr>
<td width="200">
<div align="center"><a href="contactus.html"><strong>Contact
                                                    Us</strong></a>&nbsp; |&nbsp; <a href="policies.html"><strong>Policies</strong></a><a href="directions.html"></a></div></td>
<td>
<div align="center"><a href="specials.html"><img border="0" alt="2012 Specials at the Monaco Motel" width="400" height="40" src="images/banners/2010_specials.gif" /></a></div></td>
<td width="200">
<div align="center"><a target="_blank" href="http://www.wildwoods.org"><img border="0" alt="Greater Wildwood Hotel &amp; Motel Association" width="101" height="76" src="images/misc/logo_gwhma.gif" /></a><a target="_blank" href="http://www.moreyspiers.com"><img border="0" alt="Morey's Piers Wildwood, NJ" width="82" height="76" src="images/misc/logo_moreys.gif" /></a></div></td></tr></tbody></table></td>
<td background="images/right_bg.gif" width="30">&nbsp;</td></tr></tbody></table></td></tr>
<tr>
<td>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
<tr>
<td><img alt="" width="30" height="26" src="images/bottom_left_corner.gif" /></td>
<td colspan="3"><img alt="" width="900" height="26" src="images/bottom_line.gif" /></td>
<td><img alt="" width="30" height="26" src="images/bottom_right_corner.gif" /></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table>

<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<%= javascript_include_tag  "all" %>
</body>
</html>
