<table class="bodytext" border="0" cellspacing="3" cellpadding="3" width="100%">
  <tbody>
    <tr>
      <td>
        <strong>
          <font color="#9900ff">Welcome to Wildwood's Monaco Motel, with our Convenient Beach Block Location!</font>
        </strong>
        <br />
        <br />
        The Monaco Motel is just steps from Wildwood's Famous <a
          href="attractions.html">Beach and Boardwalk</a>. Only one block to the <a
          href="http://www.wildwoodsnj.com">Wildwood Convention Center</a>,<a
          href="http://www.doowopusa.org/museum/index.html">Doo Wop Museum</a>, and
        the new home of the <a target="_blank"
          href="http://www.capemaycountyherald.com/article/56419-vietnam+memorial+wall+groundbreaking+planned+wildwood">Vietnam
          Memorial</a>. Conveniently located on Ocean Avenue. Close to restaurants,
        shopping, amusement piers &amp; water parks.  Minutes to tennis courts and
        bike rentals.  Ideal for Family Vacations, Romantic Getaways, <a
          href="specials.html">Special Event Weekends &amp; Festivals</a>...<a
          href="specials.html"><img src="images/3_night_special_family.jpg" alt=""
          width="100%" /></a>
      </td>
    </tr>
  </tbody>
</table>
