<%= partial 'specials' %>

<table class="bodytext" border="0" cellspacing="3" cellpadding="3" width="100%">
<tbody>
<tr>
<td>
<table class="smallbody" border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
<tr>
<td valign="top">
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><font size="4" face="Verdana, Arial, Helvetica, sans-serif"><strong><font color="#666666" size="3" face="Arial, Helvetica, sans-serif">Sep 20-22, 2013</font><br />
<font color="#f37c5c">Italian Dinner Party &amp; <br />
Classic Car Show</font></strong></font></td></tr></tbody></table><br />
<font class="smallbody" color="#666666" size="1" face="Verdana, Arial, Helvetica, sans-serif">&quot;Wonderful!&quot; That how guests describe the Caribbean's<em><strong> Italian Dinner Party</strong></em> featuring fine Italian antipasto, entr&eacute;es, and side dishes cooked on-site by Chef Mike Ciccarone! We serve the finest professionally baked Italian cannoli and tiramisu. Enjoy Italian wine and live music!<br />
<br /><br />
</font></td></tr></tbody></table></td></tr></tbody></table>
