<%= partial 'specials' %>

<table class="bodytext" border="0" cellspacing="3" cellpadding="3" width="100%">
<tbody>
<tr>
<td>
<table class="smallbody" border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
<tr>
<td valign="top">
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><font size="4" face="Verdana, Arial, Helvetica, sans-serif"><strong><font color="#666666" size="3" face="Arial, Helvetica, sans-serif">July 4-7, 2013</font><br />
<font color="#0099ff">Fourth of July Weekend &amp;<br />
Philly Cheesesteak Throw-Down!</font></strong></font></td></tr></tbody></table><br />
<font class="smallbody" color="#666666" size="1" face="Verdana, Arial, Helvetica, sans-serif">Celebrate an all-American holiday weekend with the Monaco's &amp; Caribbean's <strong><em>&quot;Philly Cheessteak Throw-Down!&quot;</em></strong> Three sets of chefs--including the Caribbean's own Chef Mike and the Monaco's Cheesesteak Speacialist Jerry--compete for your vote.<br />
<br />As celeb chef Bobby Flay says:<em><strong> &quot;It's fun to be competitive with cooking because, in the end, we all get to eat good food.&quot;</strong></em><br />
<br />Program at the Caribbean:<br />
<br /></font>
<table class="smallbody" border="0" cellspacing="2" cellpadding="4">
<tbody>
<tr>
<td valign="top"><font color="#666666" size="3">&bull;</font></td>
<td><font color="#666666">Fri, July 5- Bistro Dinner, Karaoke with prizes</font></td></tr>
<tr>
<td valign="top"><font color="#666666" size="3">&bull;</font></td>
<td><font color="#666666">Sat, July&nbsp;6 - Lunch: Philly Cheesesteak Throw-Down<br />
Supper Party: Gourmet BBQ, live entertainment</font></td></tr></tbody></table></td>
<td width="15">&nbsp;</td>
<td valign="top" width="250">
<p align="center"><img alt="" width="250" height="168" src="images/specials/cheesesteak1.jpg" /><br />
<br /><font class="smallbody" color="#666666" size="1" face="Verdana, Arial, Helvetica, sans-serif"><strong><img alt="" width="250" height="154" src="images/specials/throwdown1.jpg" /></strong></font><br />
<br /><img alt="" width="250" height="179" src="images/specials/fireworks.jpg" /></p></td></tr></tbody></table></td></tr></tbody></table>
