<%= partial 'specials' %>

<table class="bodytext" border="0" cellspacing="3" cellpadding="3" width="100%">
<tbody>
<tr>
<td>
<table class="smallbody" border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
<tr>
<td valign="top">
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><font size="4" face="Verdana, Arial, Helvetica, sans-serif"><strong><font color="#666666" size="3">Aug 30-Sept 2, 2013</font><br />
<font color="#f3d45d">Labor Day Weekend</font></strong></font></td></tr></tbody></table><br />
<font class="smallbody" color="#666666" size="1" face="Verdana, Arial, Helvetica, sans-serif"><em>&quot;My son had a great time over the Labor Day Weekend. We will be back next year. Thanks for the fun!&quot;<br />
<br />&quot;We really enjoyed the food and band. The Pig Roast was excellent. The Karaoke was a lot of fun! It got everyone involved.&quot;<br />
<br />&quot;I loved the BBQ dinner and entertainment. It got my daughter up and dancing and kept us entertained!&quot;</em><br />
<br />Kick off the weekend Friday evening with a Caribbean Kitchen meal to the sounds of live entertainment. Help yourself Saturday to the best freshly roasted BBQ pork and Jersey corn on the cob and tomatoes&mdash;-it's all you can eat on Sept&nbsp;3 at our <em><strong>End-of-Summer Blow-Out Pig Roast</strong></em> when we roll out the custom Klose smoker. Then, it's <em>our<strong> Fun Karaoke Contest</strong></em> with prizes for best adult and youth karaoke entertainers!<br />
</font></td>
<td width="15">&nbsp;</td>
<td valign="top" width="150">
<p align="center"><img alt="" width="250" height="188" src="images/specials/laborday1.jpg" /><br />
<br /><img alt="" width="250" height="167" src="images/specials/laborday2.jpg" /></p></td></tr></tbody></table></td></tr></tbody></table>
