<%= partial 'specials' %>

<table class="bodytext" border="0" cellspacing="3" cellpadding="3" width="100%">
<tbody>
<tr>
<td>
<table class="smallbody" border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
<tr>
<td valign="top">
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><font size="4" face="Verdana, Arial, Helvetica, sans-serif"><strong><font color="#666666" size="3" face="Arial, Helvetica, sans-serif">May 24-27, 2013</font><br />
<font color="#c5e74e">Memorial Day Weekend</font></strong></font></td></tr></tbody></table><br />
<font class="smallbody" color="#666666" size="1" face="Verdana, Arial, Helvetica, sans-serif">Kick off the summer with our Jimmy Buffet Tribute Weekend and the <em><strong>Monaco</strong></em> &amp; <em><strong>Caribbean Motel's Dinner Party</strong></em>. Food lovers know: <em><strong>No other motels in The Wildwoods can compare!</strong></em><br />
<br /></font>
<table class="smallbody" border="0" cellspacing="2" cellpadding="4">
<tbody>
<tr>
<td valign="top"><font color="#666666" size="3">&bull;</font></td>
<td><font color="#666666">Dinner on <strong>Friday</strong>, May 24 features the <strong><em>&quot;ultimate cheeseburger.&quot;</em></strong> We re-open the Margarita bar with lively entertainment!</font></td></tr>
<tr>
<td valign="top"><font color="#666666" size="3">&bull;</font></td>
<td><font color="#666666"><strong>Saturday</strong>, May 25 is our <em><strong>Dinner Party!</strong></em> Who says you have to pay a small fortune for a fine meal?<br />
<br />Dine on exceptionally tender pork slow-cooked on our Klose smoker with great-tasting side dishes.<br />
<br />Prizes for spiffy adult and children's Caribbean or Hawaiian shirts and for Limbo Contest winners while everyone enjoys the sounds of live Caribbean steel drums! </font></td></tr></tbody></table><br />
<br /><font class="smallbody" color="#666666" size="1" face="Verdana, Arial, Helvetica, sans-serif"></font></td>
<td width="15">&nbsp;</td>
<td valign="top" width="250">
  <p align="center"><img alt="" width="250" height="373" src="images/specials/memorialday1.jpg" /></p></td></tr></tbody></table></td></tr></tbody></table>
