<%= partial 'specials' %>

<table class="bodytext" border="0" cellspacing="3" cellpadding="3" width="100%">
<tbody>
<tr>
<td>
<table class="smallbody" border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
<tr>
<td valign="top">
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><font size="4" face="Verdana, Arial, Helvetica, sans-serif"><strong><font color="#666666" size="3" face="Arial, Helvetica, sans-serif">Sep 27-29, 2013</font><br />
<font color="#e3c4ae">Oktoberfest Celebration</font></strong></font></td></tr></tbody></table><br />
<font class="smallbody" color="#666666" size="1" face="Verdana, Arial, Helvetica, sans-serif">Here's how guests described the 2011 Oktoberfest Dinner Party: &quot;Great!&quot; &quot;Fantastic!&quot; and &quot;Very nice, good food, excellent entertainment!&quot; &quot;Everyone friendly!&quot; And, &quot;it's great that the <strong>Monaco Motel</strong> guests can join in on all the Fun!&quot;<br />
<br />Here's how one guest rated the entertainment: &quot;Perfect!&quot;<br />
<br />There's no better way to enjoy the fabulous days of early October! Friday and Saturday evenings, Sept 27 &amp; 28, you will enjoy <em><strong>fresh German cuisine and authentic beers</strong></em>. <br />
<br /><strong>Monster Truck enthusiasts:</strong> Don't miss &quot;Thunder on the Beach&quot; races for &quot;King of the Beach&quot; title.<br />
</font></td>
<td width="15">&nbsp;</td>
<td valign="top" width="250">
  <p align="center"><img alt="" width="250" height="219" src="images/specials/oktoberfest1.jpg" /></p></td></tr></tbody></table></td></tr></tbody></table>
