<table class="bodytext" border="0" cellpadding="3" cellspacing="3" width="100%">
<tbody>
<tr>
<td>
<p><strong><font color="FFF573">Policies</font></strong><br />
<br /> <strong>MAKING YOUR RESERVATION</strong></p>
<p>Advance deposit of one (1) night for each five (5) nights of your stay is required to confirm each reservation. Minimum deposit may be required.</p>
<p>Balance is due at check-in by cash, travelers checks, money order or credit card.</p>
<p>Sorry
absolutely no pets.</p>
<p>Confirmed reservations held until 5:00pm unless guest notifies management. Management reserves the right to cancel reservation thereafter.</p>
<p>RATES: All rates are based on double occupancy unless
otherwise noted.</p>
<p>CHECK IN TIME: AFTER 2 PM</p>
<p>CHECK OUT TIME: 10:00 AM</p>
<p><strong>GROUP
RATES</strong></p>
<p>The Monaco Motel can provide you with outstanding pre- and post-season
fun too. If you have a group you would like us to accommodate, please contact
us at 609-522-2269 or email us. We will be happy to accommodate you.</p>
<p><strong>DEPOSIT
TERMS</strong></p>
<p>Reservations will be held for seven (7) days awaiting a check
deposit by mail. Deposits are non-transferable. Remaining balance for the entire
stay must be paid in full on arrival by cash, Visa, MasterCard or Discover. SORRY
NO PERSONAL CHECKS AT CHECK-IN.</p>
<p>Refundable Key and Remote Deposit of $20.00
at time of Check-in may be required.</p>
<p>
You must show a valid photo ID and credit card upon check-in. Please
note that all special requests cannot be guaranteed and are subject to
availability upon check-in. Additional charges may apply. </p>
<p>Guests 25
years of age and under are required to post a refundable security deposit of $200
at check in for any additional expenses or charges incurred.</p>
<p><strong>OTHER</strong></p>
<p>For
the health, comfort and enjoyment of our guests, all rooms at the Monaco Motel
are 100% smoke free. We kindly ask that all guests observe this policy as smoking
of any kind is prohibited. All guests be advised that a fee of $200 will be added
to your bill if there is any evidence of any kind, including that of odor only,
of smoking in any unit.&nbsp; </p>
<p>We enforce a NO visitor policy. &nbsp; NO pets.&nbsp; </p>
<p>A Service Charge may be added for extra maintenance
and damages or additional charges over and above normal use either during guests stay or performed after check out.&nbsp; Charges will be deducted from security deposit and/or credit card on file </p>
<p>One Child under 10 years of age STAYS FOR FREE.</p>
<p>Off street
parking for one car per unit according to motel parking requirements.</p>
<p>Violation of any of these policies may result in cancellation of rental agreement and removal from the premises.&nbsp; NO REFUNDS. </p>
<p><strong>CANCELLATION &amp; REFUND POLICY</strong></p>
<p>A
change of dates constitutes a cancellation if dates can not be met. Deposit is
refundable if notified 21 days prior to arrival date - subject to a 25% handling
fee. Any cancellation or change within 21 days of arrival with result in loss
of deposit. The deposit is applied to the last night of stay and will not be applied
to a future reservation. There is no refund of rent paid. Reservations require
confirmation. Deposit is not transferable. No refunds due to inclement weather.
Misrepresentation voids reservation.</p>
<p> All confirmed reservations are guaranteed.
Group cancellations will only be refunded if cancelled at least 12 weeks prior
to arrival.</p>
<p>ALL RATES SUBJECT TO NEW JERSEY SALES TAX AND ANY APPLICABLE
TOURISM TAXES. MANAGEMENT RESERVES THE RIGHT TO ENTER ANY/OR ALL ROOMS TO VERIFY
REGISTERED OCCUPANCY. </p></td></tr></tbody></table>
