<div class="rates">
<div class="room-descriptions">
<h2>ROOM DESCRIPTIONS</h2>
<ul>
<li><strong>TYPE A:</strong> Standard room with two full-size beds, 32&quot; flat-screen television, refrigerator, air conditioning, and bath.</li>
<li><strong>TYPE B:</strong> Same as Type A room with a kitchenette that includes a two-burner cook-top, microwave oven, coffee maker, and toaster.</li>
<li><strong>TYPE C:</strong> Room with one queen-size bed, 32&quot; flat-television, refrigerator, air conditioning, and bath.</li></ul></div>
<div class="room-rates">
<div class="header-container"><span><a title="2013 Daily Rates for Monaco Motel" target="_blank" href="monaco-motel-wildwood-rates-2013.pdf">2013 RATES</a></span></div>
<table border="0" cellspacing="0" cellpadding="0" width="378">
<tbody>
<tr>
<td width="274">
<p align="center">ROOM TYPE </p></td>
<td width="34">
<p align="center">A </p></td>
<td width="34">
<p align="center">B </p></td>
<td width="36">
<p align="center">C </p></td></tr>
<tr>
<td valign="bottom" width="274">
<p><strong>April 19 -&nbsp; May 16</strong><strong> </strong></p>
<p><strong>&middot;</strong>&nbsp;<strong>Sunday thru Thursday<br />
                                                                      &middot;&nbsp;<strong>Friday and Saturday </strong></strong></p><strong><strong></strong></strong></td>
<td valign="bottom" width="34">
<p align="center"><strong>68</strong><strong> </strong><br />
<strong>78 </strong></p><strong></strong></td>
<td valign="bottom" width="34">
<p align="center"><strong>78</strong><strong> </strong><br />
<strong>88 </strong></p><strong></strong></td>
<td valign="bottom" width="36">
<p align="center"><strong>68</strong><strong> </strong><br />
<strong>78 </strong></p><strong></strong></td></tr>
<tr>
<td valign="bottom" width="274">
<p><strong>May 17 - May 23</strong><strong> </strong></p>
<p><strong>&middot;</strong>&nbsp;<strong>Sunday thru Thursday<br />
                                                                      &middot;&nbsp;<strong>Friday and Saturday </strong></strong></p><strong><strong></strong></strong></td>
<td valign="bottom" width="34">
<p align="center"><strong>83</strong><strong> </strong><br />
<strong>93 </strong></p><strong></strong></td>
<td valign="bottom" width="34">
<p align="center"><strong>93</strong><strong> </strong><br />
<strong>103 </strong></p><strong></strong></td>
<td valign="bottom" width="36">
<p align="center"><strong>83</strong><strong> </strong><br />
<strong>93 </strong></p><strong></strong></td></tr>
<tr>
<td width="274">
<p><strong>May 24 - May 27</strong><strong> </strong></p>
<p><strong>&middot;</strong>&nbsp;<strong>Memorial Day Weekend<br />
                                                                        &middot;&nbsp;<strong>3-night minimum per night    rate </strong></strong></p><strong><strong></strong></strong></td>
<td width="34">
<p align="center"><strong>148 </strong></p></td>
<td width="34">
<p align="center"><strong>158 </strong></p></td>
<td width="36">
<p align="center"><strong>148 </strong></p></td></tr>
<tr>
<td valign="bottom" width="274">
<p><strong>May 28 - July 2</strong><strong> </strong></p>
<p><strong>&middot;</strong>&nbsp;<strong>Sunday thru Thursday<br />
                                                                      &middot;&nbsp;<strong>Friday and Saturday </strong></strong></p><strong><strong></strong></strong></td>
<td valign="bottom" width="34">
<p align="center"><strong>128</strong><strong> </strong><br />
<strong>148 </strong></p><strong></strong></td>
<td valign="bottom" width="34">
<p align="center"><strong>138</strong><strong> </strong><br />
<strong>158 </strong></p><strong></strong></td>
<td valign="bottom" width="36">
<p align="center"><strong>128</strong><strong> </strong><br />
<strong>148 </strong></p><strong></strong></td></tr>
<tr>
<td width="274">
<p><strong>July 3 - July 7</strong><strong> </strong></p>
<p><strong>&middot;</strong>&nbsp;<strong>July 4th Weekend<br />
                                                                       &middot;&nbsp;<strong>3-night minimum per night    rate </strong></strong></p><strong><strong></strong></strong></td>
<td width="34">
<p align="center"><strong>168 </strong></p></td>
<td width="34">
<p align="center"><strong>178 </strong></p></td>
<td width="36">
<p align="center"><strong>168 </strong></p></td></tr>
<tr>
<td width="274">
<p><strong>July 8 - July 11 </strong></p><strong></strong></td>
<td width="34">
<p align="center"><strong>138 </strong></p></td>
<td width="34">
<p align="center"><strong>148 </strong></p></td>
<td width="36">
<p align="center"><strong>138 </strong></p></td></tr>
<tr>
<td valign="bottom" width="274">
<p><strong>July 12 - August 22</strong><strong> </strong></p>
<p><strong>&middot;</strong>&nbsp;<strong>Sunday thru Thursday<br />
                                                                      &middot;&nbsp;<strong>Friday and Saturday </strong></strong></p><strong><strong></strong></strong></td>
<td valign="bottom" width="34">
<p align="center"><strong>148</strong><strong> </strong><br />
<strong>168 </strong></p><strong></strong></td>
<td valign="bottom" width="34">
<p align="center"><strong>158</strong><strong> </strong><br />
<strong>178 </strong></p><strong></strong></td>
<td valign="bottom" width="36">
<p align="center"><strong>148</strong><strong> </strong><br />
<strong>168 </strong></p><strong></strong></td></tr>
<tr>
<td width="274">
<p><strong>August 23 - August 30 </strong></p><strong></strong></td>
<td width="34">
<p align="center"><strong>138 </strong></p></td>
<td width="34">
<p align="center"><strong>148 </strong></p></td>
<td width="36">
<p align="center"><strong>138 </strong></p></td></tr>
<tr>
<td width="274">
<p><strong>August 23 - August    30:</strong><strong> </strong></p>
<p><strong>Five-Night    Special Rate </strong></p><strong></strong></td>
<td width="104" colspan="3">
<p align="center"><strong>TYPE A ROOM</strong><strong> </strong><br />
<strong> DOUBLE OCCUPANCY<br />
<strong> 522</strong></strong></p><strong><strong></strong></strong></td></tr>
<tr>
<td width="274">
<p><strong>August 30 -    September 2</strong><strong> </strong></p>
<p><strong>&middot;</strong>&nbsp;<strong>Labor Day Weekend<br />
                                                                      &middot;&nbsp;<strong>3-night minimum per night    rate </strong></strong></p><strong><strong></strong></strong></td>
<td width="34">
<p align="center"><strong>148 </strong></p></td>
<td width="34">
<p align="center"><strong>158 </strong></p></td>
<td width="36">
<p align="center"><strong>148 </strong></p></td></tr>
<tr>
<td width="274">
<p><strong>September 3 -    October 28</strong><strong> </strong></p>
<p><strong>&middot;</strong>&nbsp;<strong>Sunday thru Thursday Only </strong></p><strong></strong></td>
<td width="34">
<p align="center"><strong>&nbsp;</strong><strong> </strong></p>
<p align="center"><strong> 68 </strong></p><strong></strong></td>
<td width="34">
<p align="center"><strong>&nbsp;</strong><strong> </strong></p>
<p align="center"><strong> 78 </strong></p><strong></strong></td>
<td width="36">
<p align="center"><strong>&nbsp;</strong><strong> </strong></p>
<p align="center"><strong> 68 </strong></p><strong></strong></td></tr></tbody></table>
<p>&nbsp;</p></div>
<div class="photos"><img alt="" src="images/rooms.jpg" /></div>
<div class="rates-rules"></div>
<div class="rates-rules">
<ul>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </ul></div>
<ul>
<li>Rates are based on double occupancy for a 3-night minimum stay and apply to advance reservations only.&nbsp; Rates are in US Dollars.</li>
<li> Rates do not apply to one-night stays, special events, or special event weekends.</li>
<li> Adjoining rooms are available.</li>
<li>No charge for children ages 16 and under.</li>
<li>$20.00 per night for additional persons ages 17 and up.</li>
<li>Maximum occupancy per room is four.</li>
<li>A deposit is required to confirm all reservations. The minimum deposit is one night's rate or $200.00, whichever is greater.</li>
<li>The balance due upon check-in may be paid in Cash, Visa, MasterCard, or Discover.</li>
<li>Additional restrictions may apply.</li>
<li>Cancellation Policy: Deposit is refundable, less a 25% service charge, if notification of cancellation is made prior to 14 days of arrival.  No refund of deposit if 14 days or less of arrival.No refund for early departure.</li></ul>
<div class="reservation-info"><span>Please call <br />
<strong>609.522.2269</strong> <br />
for further details or to make a reservation.</span></div></div>
