<table class="bodytext" border="0" cellspacing="3" cellpadding="3" width="100%">
<tbody>
<tr>
<td>
<p><font color="#9900ff"><strong>Reservations</strong><br />
</font><br />
You   may make a reservation at the Monaco Motel by calling <strong>609-522-2269</strong>, or   by using the Reservation Request Form below.<br />
<br />
Note:   Reservation requests submitted online are <strong>not final</strong> until confirmed by   telephone or e-mail. We will respond to your request as quickly as possible.<br />
<br />
Before   proceeding to submit a reservation request, we ask that you please carefully read our <strong>reservation policies</strong>. <br />
<br />
If you have any questions regarding our policies   &amp; procedures, please call 609-522-2269.</p>
<table>
<tbody>
<tr>
<td>
<div style="height: 300px; overflow: scroll; font-family: Courier; font-size: 12pt; overflow-x: hidden">
<p><strong><font color="#9900ff">Policies</font></strong><br />
<br /><strong>MAKING YOUR RESERVATION</strong></p>
<p>Advance deposit of one (1) night for each five (5) nights of your stay is required to confirm each reservation. Minimum deposit may be required.</p>
<p>Balance is due at check-in by cash, travelers checks, money order or credit card.</p>
<p>Sorry
            absolutely no pets.</p>
<p>Confirmed reservations held until 5:00pm unless guest notifies management. Management reserves the right to cancel reservation thereafter.</p>
<p>RATES: All rates are based on double occupancy unless
            otherwise noted.</p>
<p>CHECK IN TIME: AFTER 2 PM</p>
<p>CHECK OUT TIME: 10:00 AM</p>
<p><strong>GROUP
            RATES</strong></p>
<p>The Monaco Motel can provide you with outstanding pre- and post-season
            fun too. If you have a group you would like us to accommodate, please contact
            us at 609-522-2269 or email us. We will be happy to accommodate you.</p>
<p><strong>DEPOSIT
            TERMS</strong></p>
<p>Reservations will be held for seven (7) days awaiting a check
            deposit by mail. Deposits are non-transferable. Remaining balance for the entire
            stay must be paid in full on arrival by cash, Visa, MasterCard or Discover. SORRY
            NO PERSONAL CHECKS AT CHECK-IN.</p>
<p>Refundable Key and Remote Deposit of $20.00
            at time of Check-In may be required.</p>
<p>You must show a valid photo ID and credit card upon Check-In. Please
note that all special requests cannot be guaranteed and are subject to
availability upon check-in. Additional charges may apply.<br />
&nbsp;</p>
<p>
            Guests 25
            years of age and under are required to post a refundable security deposit of $200
            at check in for any additional expenses or charges incurred.</p>
<p><strong>OTHER</strong></p>
<p>For
            the health, comfort and enjoyment of our guests, all rooms at the Monaco Motel
            are 100% smoke free. We kindly ask that all guests observe this policy as smoking
            of any kind is prohibited. All guests be advised that a fee of $200 will be added
            to your bill if there is any evidence of any kind, including that of odor only,
            of smoking in any unit.&nbsp; </p>
<p>We enforce a NO visitor policy. &nbsp; NO pets.&nbsp; </p>
<p>A Service Charge may be added for extra maintenance
            and damages or additional charges over and above normal use either during guests stay or performed after check out.&nbsp; Charges will be deducted from security deposit and/or credit card on file </p>
<p>One Child under 10 years of age STAYS FOR FREE.</p>
<p>Off street
            parking for one car per unit according to motel parking requirements.</p>
<p>Violation of any of these policies may result in cancellation of rental agreement and removal from the premises.&nbsp; NO REFUNDS. </p>
<p><strong>CANCELLATION &amp; REFUND POLICY</strong></p>
<p>A
            change of dates constitutes a cancellation if dates can not be met. Deposit is
            refundable if notified 21 days prior to arrival date - subject to a 25% handling
            fee. Any cancellation or change within 21 days of arrival with result in loss
            of deposit. The deposit is applied to the last night of stay and will not be applied
            to a future reservation. There is no refund of rent paid. Reservations require
            confirmation. Deposit is not transferable. No refunds due to inclement weather.
            Misrepresentation voids reservation.</p>
<p> All confirmed reservations are guaranteed.
            Group cancellations will only be refunded if cancelled at least 12 weeks prior
            to arrival.</p>
<p>ALL RATES SUBJECT TO NEW JERSEY SALES TAX AND ANY APPLICABLE
            TOURISM TAXES. MANAGEMENT RESERVES THE RIGHT TO ENTER ANY/OR ALL ROOMS TO VERIFY
            REGISTERED OCCUPANCY. </p></div></td></tr>
<tr>
<td><br />
<input id="policiesCheckBox" type="checkbox" />
        I understand all policies &amp; procedures as they may apply to my request or reservation</td></tr></tbody></table>
<table style="display: none" id="requestTable" border="0" cellspacing="0" cellpadding="2" width="500">
<tbody>
<tr>
<td class="pageName"><strong>Reservation Request Form</strong></td></tr>
<tr>
<td class="bodyText"><!-- Begin Freedback Form --><!-- DO NOT EDIT YOUR FORM HERE, PLEASE LOG IN AND EDIT AT FREEDBACK.COM -->
  <form accept-charset="UTF-8" enctype="multipart/form-data" method="post" action="http://www.freedback.com/mail.php" class="reservation">
<div><input id="acctid" name="acctid" value="c7cxif3e2fb0wapb" type="hidden" /><input id="formid" name="formid" value="569922" type="hidden" /><input id="required_vars" name="required_vars" value="name,field-f5b3a79b05b04f8,field-13fc292519ebad9,field-54363b343fd71d8,field-2ef5b89cf6c9fd0,email,field-0adce4d54ebd323,field-1d28e38940b442e,field-868ca07448b9bc4,field-321809a2e8bce35,field-ab0a75d48c7da6c,field-73ce8a90c52c885,field-39b87488fd0f102,field-5d60dca6e548c00,field-12f2629c5ca25c8" type="hidden" /></div>
<table border="0" cellspacing="5" cellpadding="5">
<tbody>
<tr>
<td valign="top"><strong>Name - First/Last</strong></td>
<td valign="top"><input id="name" name="name" value="" size="40" type="text" /></td></tr>
<tr>
<td valign="top"><strong>Home Address:</strong></td>
<td valign="top"><input id="field-f5b3a79b05b04f8" name="field-f5b3a79b05b04f8" value="" size="40" type="text" /></td></tr>
<tr>
<td valign="top"><strong>City:</strong></td>
<td valign="top"><input id="field-13fc292519ebad9" name="field-13fc292519ebad9" value="" size="40" type="text" /></td></tr>
<tr>
<td valign="top"><strong>State:</strong></td>
<td valign="top"><input id="field-54363b343fd71d8" name="field-54363b343fd71d8" value="" size="40" type="text" /></td></tr>
<tr>
<td valign="top"><strong>Zip Code:</strong></td>
<td valign="top"><input id="field-2ef5b89cf6c9fd0" name="field-2ef5b89cf6c9fd0" value="" size="40" type="text" /></td></tr>
<tr>
<td valign="top"><strong>Email Address:</strong></td>
<td valign="top"><input id="email" name="email" value="" size="40" type="text" /></td></tr>
<tr>
<td valign="top"><strong>Contact Number:</strong></td>
<td valign="top"><input id="field-0adce4d54ebd323" name="field-0adce4d54ebd323" value="" size="40" type="text" /></td></tr>
<tr>
<td valign="top"><strong>Optional contact number:</strong></td>
<td valign="top"><select id="field-a46a062318d9754" name="field-a46a062318d9754">
<option value="Cell">Cell</option>
<option value="Home">Home</option>
<option value="Work">Work</option></select></td></tr>
<tr>
<td valign="top"><strong>Optional 2nd Contact Number:</strong></td>
<td valign="top"><input id="field-0db31e29da0740b" name="field-0db31e29da0740b" value="" size="40" type="text" /></td></tr>
<tr>
<td valign="top"><strong>2nd Contact Number:</strong></td>
<td valign="top"><select id="field-514dd1f695a2052" name="field-514dd1f695a2052">
<option value="Work">Work</option>
<option value="Cell">Cell</option></select></td></tr>
<tr>
<td valign="top"><strong>Arrival Date: </strong></td>
<td valign="top"><input id="field-1d28e38940b442e" name="field-1d28e38940b442e" value="" size="40" type="text" /></td></tr>
<tr>
<td valign="top"><strong>Departure Date:</strong></td>
<td valign="top"><input id="field-868ca07448b9bc4" name="field-868ca07448b9bc4" value="" size="40" type="text" /></td></tr>
<tr>
<td valign="top"><strong>Total number of Nights Requested: </strong></td>
<td valign="top"><input id="field-321809a2e8bce35" name="field-321809a2e8bce35" value="" size="40" type="text" /></td></tr>
<tr>
<td valign="top"><strong>You can add any SPECIAL REQUESTS HERE.  We will attempt to contact you within 24 hours to verify and confirm information:</strong></td>
<td valign="top"><textarea id="field-611fb85f704edf1" cols="40" rows="6" name="field-611fb85f704edf1"></textarea></td></tr>
<tr>
<td valign="top"><strong>Room Type?</strong></td>
<td valign="top"><input id="field-ab0a75d48c7da6c_0" name="field-ab0a75d48c7da6c" value="Type A-2 Double Beds" type="radio" /> Type A-2 Double Beds<br />
<input id="field-ab0a75d48c7da6c_1" name="field-ab0a75d48c7da6c" value="Type B-2 Double Beds with Kitchenette" type="radio" /> Type B-2 Double Beds with Kitchenette<br />
<input id="field-ab0a75d48c7da6c_2" name="field-ab0a75d48c7da6c" value="Type C-1 Queen Bed" type="radio" /> Type C-1 Queen Bed<br />
<input id="field-ab0a75d48c7da6c_3" name="field-ab0a75d48c7da6c" value="Type D-2 Connecting Motel Rooms, 4 Double Beds, 2 Full Bathrooms" type="radio" /> Type D-2 Connecting Motel Rooms, 4 Double Beds, 2 Full Bathrooms<br />
<input id="field-ab0a75d48c7da6c_4" name="field-ab0a75d48c7da6c" value="Type DK-2 Connecting Motel Rooms, 4 Double Beds, 2 Full Baths, 1 Kitchenette" type="radio" /> Type DK-2 Connecting Motel Rooms, 4 Double Beds, 2 Full Baths, 1 Kitchenette<br />
</td></tr>
<tr>
<td valign="top"><strong>Total Number of Guests?</strong></td>
<td valign="top"><select id="field-73ce8a90c52c885" name="field-73ce8a90c52c885">
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option></select></td></tr>
<tr>
<td valign="top"><strong>Number of Guests between ages 11 &amp; 25?</strong></td>
<td valign="top"><select id="field-39b87488fd0f102" name="field-39b87488fd0f102">
<option value="NONE">NONE</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option></select></td></tr>
<tr>
<td valign="top"><strong>Number of Guests under 10 years of age?</strong></td>
<td valign="top"><select id="field-5d60dca6e548c00" name="field-5d60dca6e548c00">
<option value="NONE">NONE</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option></select></td></tr>
<tr>
<td valign="top"><strong>How did you hear about us?</strong></td>
<td valign="top"><input id="field-12f2629c5ca25c8_0" name="field-12f2629c5ca25c8[]" value="Friend" type="checkbox" /> Friend<br />
<input id="field-12f2629c5ca25c8_1" name="field-12f2629c5ca25c8[]" value="Stayed at the Monaco Motel before" type="checkbox" /> Stayed at the Monaco Motel before<br />
<input id="field-12f2629c5ca25c8_2" name="field-12f2629c5ca25c8[]" value="Google" type="checkbox" /> Google<br />
<input id="field-12f2629c5ca25c8_3" name="field-12f2629c5ca25c8[]" value="Trip Advisor" type="checkbox" /> Trip Advisor<br />
<input id="field-12f2629c5ca25c8_4" name="field-12f2629c5ca25c8[]" value="Chamber of Commerce" type="checkbox" /> Chamber of Commerce<br />
<input id="field-12f2629c5ca25c8_5" name="field-12f2629c5ca25c8[]" value="Other - Please provide information below" type="checkbox" /> Other - Please provide information below<br />
</td></tr>
<tr>
<td valign="top"><strong>Other?</strong></td>
<td valign="top"><input id="field-340a9cc7c33b022" name="field-340a9cc7c33b022" value="" size="40" type="text" /></td></tr>
<tr>
<td colspan="2" align="center"><input value=" Submit Form " type="submit" /></td></tr></tbody></table></form><br />
<center><font size="1" face="Arial, Helvetica"><strong><a href="http://www.freedback.com">Click here</a> to create your own form.</strong></font></center><!-- End Freedback Form --></td></tr> </tbody></table></td></tr></tbody></table>
