<%= partial 'specials' %>

<table class="bodytext" border="0" cellspacing="3" cellpadding="3" width="100%">
<tbody>
<tr>
<td>
<table class="smallbody" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><font size="4" face="Verdana, Arial, Helvetica, sans-serif"><strong><font color="#666666" size="3" face="Arial, Helvetica, sans-serif">April 26-28, 2013</font><br />
<font color="#f37548">Salute to the '60s Parties</font></strong></font></td></tr></tbody></table>
<p><br />
<font class="smallbody" color="#666666" size="1" face="Verdana, Arial, Helvetica, sans-serif">Celebrate 1960s music and dine delectably along with our guests from the <strong>Monaco Motel!</strong><br />
<br />Were you unable to attend Simon and Garfunkel's live Concert in Central Park? Did you miss Woodstock? Here's your next best opportunity! Join our guests at the Caribbean April 26-28, to <strong>Salute the Music of the Sixties</strong> with award-winning solo artist <strong>Gregg Sansone</strong> as he covers great bands like Buffalo Springfield, Mamas &amp; Papas, The Byrds, Crosby, Stills &amp; Nash, and more. Appearing with Gregg to perform Simon &amp; Garfunkel will be vocal phenom,<strong> Joe Burby</strong>.</font> </p>
<ul type="circle">
<li type="disc"><font color="#666666">Live entertainment, 3 shows: Tributes to &quot;The British Invasion;&quot; Simon and Garfunkel's &quot;Concert in Central Park;&quot; and &quot;Woodstock!&quot;</font></li>
<li type="disc"><font color="#666666">2 dinner parties: Dine on fresh, succulent entrees prepared by Chef Mike; meals and libations are included in the room rate. </font></li></ul></td>
<td width="15">&nbsp;</td>
<td valign="top" width="250">
  <p align="center"><img alt="" width="225" height="206" src="images/specials/sixties1.jpg" /></p></td></tr></tbody></table></td></tr></tbody></table>
