<table class="bodytext" border="0" cellspacing="3" cellpadding="3" width="100%">
<tbody>
<tr>
<td>
<p><strong><font color="#9900ff">Specials &amp; Packages</font></strong></p>
<table border="0" cellspacing="0" cellpadding="10" width="500" align="center">
<tbody>
<tr valign="top" bgcolor="#ffffff">
<td width="100" class="bodytext">
<div align="center">The <strong>Monaco Motel</strong>, in collaboration with the<strong> Caribbean Motel</strong>, is happy to offer these exciting <strong><a href="monaco-motel-wildwood-nj-specials-2013.pdf" target="_blank">Special Event &amp;&nbsp;Entertainment Packages</a></strong> which may include <font color="#cc00cc"><strong><font color="#9900ff">meals, entertainment, and lots of extra added fun!</font></strong></font>&nbsp;</div>
<div align="center"><span style="background-color: transparent">Special ALL ACCESS Privileges included.</span></div>
<div align="center"><span style="font-weight: bold; background-color: transparent">Our</span> A<span style="font-weight: bold; background-color: transparent">ll-Inclusive Weekend Deals</span><strong> are the best value at the Jersey Shore!</strong></div>
<p align="center">**Please inquire as to event location**</p>
<p align="center">**Entertainment Packages may require addtional charges**</p>
<table width="500" border="1">
<tbody>
<tr>
<td width="200" bgcolor="#FFFF66" style="width: 147.6pt; height: 143.9449pt; background: #FFFF66; padding: 12.96pt 2.88pt
  12.96pt">
<p class="MsoNormal"><span style="language: en-US" lang="en-US" xml:lang="en-US"><img alt="" width="198" height="144" src="images/specials-embed_files/image2971.png" v:shapes="_x0000_s1026" /></span></p></td>
<td width="320" bgcolor="#FFFF66" style="width: 372.9959pt; height: 143.9449pt; background: #FFFF66; padding: 12.96pt 2.88pt">
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">April 19&mdash;21, 2013</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">SPRING MOTORCYCLE RALLY</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">FEIS AT THE BEACH IRISH DANCE COMPETITION</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; text-decoration: underline; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">2 NIGHTS $188</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">Call </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US"><span dir="ltr"></span>609.522.2269 </span><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">or </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">Book Now!</span></p></td></tr>
<tr>
<td width="200" bgcolor="#99CCFF" style="width: 147.6pt; height: 137.7218pt; background: #99CCFF; padding: 12.96pt 2.88pt
  12.96pt">
<p class="MsoNormal"><img alt="" width="198" height="136" src="images/specials-embed_files/image3001.png" v:shapes="_x0000_s1042" /></p></td>
<td width="320" bgcolor="#99CCFF" style="width: 372.9959pt; height: 137.7218pt; background: #99CCFF; padding: 12.96pt 2.88pt">
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">April 26&mdash;28, 2013</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">SENSATIONAL SPRING CONCERT WEEKEND</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; text-decoration: underline; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">2 NIGHTS $188</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">Call </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US"><span dir="ltr"></span>609.522.2269 </span><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">or </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">Book Now!</span></p></td></tr>
<tr>
<td width="200" bgcolor="#FF66CC" style="width: 147.6pt; height: 144.6177pt; background: #FF66CC; padding: 12.96pt 2.88pt
  12.96pt">
<p class="MsoNormal"><img alt="" width="198" height="132" src="images/specials-embed_files/image3391.jpg" v:shapes="_x0000_s1029" /></p></td>
<td width="320" bgcolor="#FF66CC" style="width: 372.9959pt; height: 144.6177pt; background: #FF66CC; padding: 12.96pt 2.88pt">
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">May 2&mdash;5, 2013</span><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">&nbsp;</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">GRAND RE-OPENING CELEBRATION</span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">&nbsp;</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">TOURNAMENT OF BANDS INDOOR CHAMPIONSHIPS</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; text-decoration: underline; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">3 NIGHTS $234</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">Call </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US"><span dir="ltr"></span>609.522.2269 </span><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">or </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">Book Now!</span></p></td></tr>
<tr>
<td width="200" bgcolor="#FF9900" style="width: 147.6pt; height: 140.4793pt; background: #FF9900; padding: 12.96pt 2.88pt
  12.96pt">
<p class="MsoNormal"><img alt="" width="200" height="140" src="images/specials-embed_files/image3041.png" v:shapes="_x0000_s1027" /></p></td>
<td width="320" bgcolor="#FF9900" style="width: 372.9959pt; height: 140.4793pt; background: #FF9900; padding: 12.96pt 2.88pt">
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">May 9&mdash;12, 2013</span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">&nbsp;</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">SPRING BOARDWALK CLASSIC CAR SHOW</span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">&nbsp;</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">TALL CEDARS CONVENTION</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; text-decoration: underline; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">3 NIGHTS $369</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">Call </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US"><span dir="ltr"></span>609.522.2269 </span><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">or </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">Book Now!</span></p></td></tr>
<tr>
<td width="200" bgcolor="#FFFF99" style="width: 147.6pt; height: 132.3504pt; background: #FFFF99; padding: 12.96pt 2.88pt
  12.96pt">
<p class="MsoNormal"><img alt="" border="0" width="200" height="139" src="images/specials-embed_files/image3201.png" v:shapes="irc_mi" /></p></td>
<td width="320" bgcolor="#FFFF99" style="width: 372.9959pt; height: 132.3504pt; background: #FFFF99; padding: 12.96pt 2.88pt">
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">May 16&mdash;19, 2013</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">Knights of Columbus State Convention</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; text-decoration: underline; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">3 NIGHTS $279**</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">Call </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US"><span dir="ltr"></span>609.522.2269 </span><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">or </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">Book Now!</span></p></td></tr>
<tr>
<td width="200" bgcolor="red" style="width: 147.6pt; height: 136.7459pt; background: red; padding: 12.96pt 2.88pt
  12.96pt">
<p class="MsoNormal"><img alt="" width="198" height="144" src="images/specials-embed_files/image3011.png" v:shapes="_x0000_s1028" /></p></td>
<td width="320" bgcolor="red" style="width: 372.9959pt; height: 136.7459pt; background: red; padding: 12.96pt 2.88pt
  12.96pt">
<p class="MsoNormal" style="text-align: center; margin-bottom: 10.0pt; line-height:
  114%"><span style="font-size: 14.0pt; line-height:
  114%; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">May 24&mdash;27, 2013</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">MEMORIAL DAY WEEKEND</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">NJ STATE GYMNASTICS CHAMPIONSHIPS</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; text-decoration: underline; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">3 NIGHTS $444</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">Call </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US"><span dir="ltr"></span>609.522.2269 </span><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">or </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">Book Now!</span></p></td></tr>
<tr>
<td width="200" bgcolor="#00FFCC" style="width: 147.6pt; height: 134.2075pt; background: #00FFCC; padding: 12.96pt 2.88pt
  12.96pt">
<p class="MsoNormal"><span style="language: en-US" lang="en-US" xml:lang="en-US">&nbsp;</span><img alt="" width="198" height="84" src="images/specials-embed_files/image2951.png" v:shapes="_x0000_s1033" /></p></td>
<td width="320" bgcolor="#00FFCC" style="width: 372.9959pt; height: 134.2075pt; background: #00FFCC; padding: 12.96pt 2.88pt">
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">May 29&mdash;June 1, 2013</span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">&nbsp;</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">THE GREATER NEW JERSEY UNITED METHODIST</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">ANNUAL CONFERENCE</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; text-decoration: underline; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">3 NIGHTS $354**</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">Call </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US"><span dir="ltr"></span>609.522.2269 </span><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">or </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">Book Now!</span></p></td></tr>
<tr>
<td width="200" bgcolor="#FFFF66" style="width: 147.6pt; height: 140.4793pt; background: #FFFF66; padding: 12.96pt 2.88pt
  12.96pt">
<p class="MsoNormal"><img alt="" border="0" width="198" height="162" src="images/specials-embed_files/image2981.jpg" v:shapes="_x0000_s1034" /></p></td>
<td width="320" bgcolor="#FFFF66" style="width: 372.9959pt; height: 140.4793pt; background: #FFFF66; padding: 12.96pt 2.88pt">
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">June 6&mdash;9, 2013</span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">&nbsp;</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">NEW JERSEY STATE ELKS CONVENTION</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">DeMOLAY CONVENTION</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; text-decoration: underline; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">3 NIGHTS $354**</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">Call </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US"><span dir="ltr"></span>609.522.2269 </span><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">or </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">Book Now!</span></p></td></tr>
<tr>
<td width="200" bgcolor="red" style="width: 147.6pt; height: 130.7531pt; background: red; padding: 12.96pt 2.88pt
  12.96pt">
<p class="MsoNormal"><img alt="" border="0" width="198" height="150" src="images/specials-embed_files/image3021.jpg" v:shapes="_x0000_s1035" /></p></td>
<td width="320" bgcolor="red" style="width: 372.9959pt; height: 130.7531pt; background: red; padding: 12.96pt 2.88pt
  12.96pt">
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">June 11&mdash;16, 2013</span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">&nbsp;</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">AMERICAN LEGION CONVENTION</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; text-decoration: underline; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">5 NIGHTS $590**</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">Call </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US"><span dir="ltr"></span>609.522.2269 </span><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">or </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">Book Now!</span></p></td></tr>
<tr>
<td width="200" bgcolor="#3399FF" style="width: 147.6pt; height: 124.1637pt; background: #3399FF; padding: 12.96pt 2.88pt
  12.96pt">
<p class="MsoNormal"><img alt="" border="0" width="198" height="138" src="images/specials-embed_files/image3031.jpg" v:shapes="_x0000_s1036" /></p></td>
<td width="320" bgcolor="#3399FF" style="width: 372.9959pt; height: 124.1637pt; background: #3399FF; padding: 12.96pt 2.88pt">
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">June 17&mdash;22, 2013</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">VETERANS OF FOREIGN WARS AND</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">LADIES AUXILIARY CONVENTION</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; text-decoration: underline; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">5 NIGHTS $590**</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">Call </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US"><span dir="ltr"></span>609.522.2269 </span><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">or </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">Book Now!</span></p></td></tr>
<tr>
<td width="200" bgcolor="#FF9933" style="width: 147.6pt; height: 122.1129pt; background: #FF9933; padding: 12.96pt 2.88pt
  12.96pt">
<p class="MsoNormal"><span style="language: en-US" lang="en-US" xml:lang="en-US">&nbsp;</span><img alt="" border="0" width="198" height="132" src="images/specials-embed_files/image3071.png" v:shapes="_x0000_s1037" /></p></td>
<td width="320" bgcolor="#FF9933" style="width: 372.9959pt; height: 122.1129pt; background: #FF9933; padding: 12.96pt 2.88pt">
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">June 28&mdash;July 1, 2013</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; text-transform: uppercase; language: en-US" lang="en-US" xml:lang="en-US">Cape Express Beach Blast Soccer Weekend</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; text-decoration: underline; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">3 NIGHTS $444</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">Call </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US"><span dir="ltr"></span>609.522.2269 </span><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">or </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">Book Now!</span></p></td></tr>
<tr>
<td width="200" bgcolor="red" style="width: 147.6pt; height: 127.7927pt; background: red; padding: 12.96pt 2.88pt
  12.96pt">
<p class="MsoNormal"><img alt="" width="198" height="132" src="images/specials-embed_files/image3081.png" v:shapes="_x0000_s1043" /></p></td>
<td width="320" bgcolor="red" style="width: 372.9959pt; height: 127.7927pt; background: red; padding: 12.96pt 2.88pt
  12.96pt">
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">July 3&mdash;7, 2013</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">JULY 4TH CELEBRATION WEEKEND</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; text-decoration: underline; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">4 NIGHTS $632</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">Call </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US"><span dir="ltr"></span>609.522.2269 </span><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">or </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">Book Now!</span></p></td></tr>
<tr>
<td width="200" bgcolor="#FF99FF" style="width: 147.6pt; height: 129.7302pt; background: #FF99FF; padding: 12.96pt 2.88pt
  12.96pt">
<p class="MsoNormal"><img alt="" border="0" width="198" height="120" src="images/specials-embed_files/image3171.jpg" v:shapes="_x0000_s1038" /></p></td>
<td width="320" bgcolor="#FF99FF" style="width: 372.9959pt; height: 129.7302pt; background: #FF99FF; padding: 12.96pt 2.88pt">
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">July 8&mdash;13, 2013</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; text-transform: uppercase; language: en-US" lang="en-US" xml:lang="en-US">Dance Xplosion National Dance Finals</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; text-decoration: underline; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">5 NIGHTS $690</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">Call </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US"><span dir="ltr"></span>609.522.2269 </span><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">or </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">Book Now!</span></p></td></tr>
<tr>
<td width="200" bgcolor="#66FF33" style="width: 147.6pt; height: 127.699pt; background: #66FF33; padding: 12.96pt 2.88pt
  12.96pt">
<p class="MsoNormal"><img alt="" border="0" width="198" height="138" src="images/specials-embed_files/image3161.jpg" v:shapes="_x0000_s1039" /></p></td>
<td width="320" bgcolor="#66FF33" style="width: 372.9959pt; height: 127.699pt; background: #66FF33; padding: 12.96pt 2.88pt">
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">August 2&mdash;5, 2013</span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">&nbsp;</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; text-transform: uppercase; language: en-US" lang="en-US" xml:lang="en-US">Battle at the Beach Grappling Tournament</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; text-decoration: underline; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">3 NIGHTS $504</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">Call </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US"><span dir="ltr"></span>609.522.2269 </span><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">or </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">Book Now!</span></p></td></tr>
<tr>
<td width="200" bgcolor="#FFFF66" style="width: 147.6pt; height: 130.4352pt; background: #FFFF66; padding: 12.96pt 2.88pt
  12.96pt">
<p class="MsoNormal"><img alt="" border="0" width="198" height="132" src="images/specials-embed_files/image3191.jpg" v:shapes="_x0000_s1040" /></p></td>
<td width="320" bgcolor="#FFFF66" style="width: 372.9959pt; height: 130.4352pt; background: #FFFF66; padding: 12.96pt 2.88pt">
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">August 29&mdash;September 1, 2013</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; text-transform: uppercase; language: en-US" lang="en-US" xml:lang="en-US">All GM Car and Truck Show</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; text-decoration: underline; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">3 NIGHTS $434</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">Call </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US"><span dir="ltr"></span>609.522.2269 </span><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">or </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">Book Now!</span></p></td></tr>
<tr>
<td width="200" bgcolor="#FF6600" style="width: 147.6pt; height: 127.699pt; background: #FF6600; padding: 12.96pt 2.88pt
  12.96pt">
<p class="MsoNormal"><img alt="" width="198" height="132" src="images/specials-embed_files/image3101.png" v:shapes="_x0000_s1044" /></p></td>
<td width="320" bgcolor="#FF6600" style="width: 372.9959pt; height: 127.699pt; background: #FF6600; padding: 12.96pt 2.88pt">
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">August 30&mdash;September 2, 2013</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">LABOR DAY WEEKEND</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; text-decoration: underline; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">3 NIGHTS $444</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">Call </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US"><span dir="ltr"></span>609.522.2269 </span><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">or </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">Book Now!</span></p></td></tr>
<tr>
<td width="200" bgcolor="#00FFCC" style="width: 147.6pt; height: 110.6596pt; background: #00FFCC; padding: 12.96pt 2.88pt
  12.96pt">
<p class="MsoNormal"><img alt="" width="197" height="120" src="images/specials-embed_files/image3131.png" v:shapes="_x0000_s1045" /></p></td>
<td width="320" bgcolor="#00FFCC" style="width: 372.9959pt; height: 110.6596pt; background: #00FFCC; padding: 12.96pt 2.88pt">
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">September 5&mdash;8, 2013</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">ROAR TO THE SHORE</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; text-decoration: underline; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">3 NIGHTS $449</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">Call </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US"><span dir="ltr"></span>609.522.2269 </span><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">or </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">Book Now!</span></p></td></tr>
<tr>
<td width="200" bgcolor="#6699FF" style="width: 147.6pt; height: 127.699pt; background: #6699FF; padding: 12.96pt 2.88pt
  12.96pt">
<p class="MsoNormal"><span style="language: en-US" lang="en-US" xml:lang="en-US">&nbsp;</span><img alt="" border="0" width="197" height="144" src="images/specials-embed_files/image3211.jpg" v:shapes="_x0000_s1041" /></p></td>
<td width="320" bgcolor="#6699FF" style="width: 372.9959pt; height: 127.699pt; background: #6699FF; padding: 12.96pt 2.88pt">
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">September 12&mdash;15, 2013</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; text-transform: uppercase; language: en-US" lang="en-US" xml:lang="en-US">New Jersey State Firemen's Convention</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; text-decoration: underline; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">3 NIGHTS $474</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">Call </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US"><span dir="ltr"></span>609.522.2269 </span><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">or </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">Book Now!</span></p></td></tr>
<tr>
<td width="200" bgcolor="#66FF33" style="width: 147.6pt; height: 127.946pt; background: #66FF33; padding: 12.96pt 2.88pt
  12.96pt">
<p class="MsoNormal"><img alt="" width="197" height="134" src="images/specials-embed_files/image3141.png" v:shapes="_x0000_s1046" /></p></td>
<td width="320" bgcolor="#66FF33" style="width: 372.9959pt; height: 127.946pt; background: #66FF33; padding: 12.96pt 2.88pt">
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">September 19&mdash;22, 2013</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">BOARDWALK CLASSIC CAR SHOW AND AUCTION</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; text-decoration: underline; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">3 NIGHTS $449</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">Call </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US"><span dir="ltr"></span>609.522.2269 </span><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">or </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">Book Now!</span></p></td></tr>
<tr>
<td width="200" bgcolor="#FFCC66" style="width: 147.6pt; height: 140.4793pt; background: #FFCC66; padding: 12.96pt 2.88pt
  12.96pt">
<p class="MsoNormal"><img alt="" width="197" height="140" src="images/specials-embed_files/image3151.png" v:shapes="_x0000_s1047" /></p></td>
<td width="320" bgcolor="#FFCC66" style="width: 372.9959pt; height: 140.4793pt; background: #FFCC66; padding: 12.96pt 2.88pt">
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">September 27&mdash;29, 2013</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">OLDE TIME ITALIAN FESTIVAL</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">MONSTER TRUCK BEACH BLAST</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; text-decoration: underline; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">2 NIGHTS $246</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">Call </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US"><span dir="ltr"></span>609.522.2269 </span><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">or </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">Book Now!</span></p></td></tr>
<tr>
<td width="200" bgcolor="#9999FF" style="width: 147.6pt; height: 117.6549pt; background: #9999FF; padding: 12.96pt 2.88pt
  12.96pt">
<p class="MsoNormal"><img alt="" width="197" height="122" src="images/specials-embed_files/image3181.png" v:shapes="_x0000_s1049" /></p></td>
<td width="320" bgcolor="#9999FF" style="width: 372.9959pt; height: 117.6549pt; background: #9999FF; padding: 12.96pt 2.88pt">
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">October 4&mdash;6, 2013</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; text-transform: uppercase; language: en-US" lang="en-US" xml:lang="en-US">All Ford Truck &amp; Car Show</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; text-decoration: underline; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">2 NIGHTS $246</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">Call </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US"><span dir="ltr"></span>609.522.2269 </span><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">or </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">Book Now!</span></p></td></tr>
<tr>
<td width="200" bgcolor="#CCFFFF" style="width: 147.6pt; height: 113.5725pt; background: #CCFFFF; padding: 12.96pt 2.88pt
  12.96pt">
<p class="MsoNormal"><span style="font-size: 12.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">&nbsp;</span><img alt="" width="137" height="132" src="images/specials-embed_files/image3271.png" v:shapes="_x0000_s1051" /></p></td>
<td width="320" bgcolor="#CCFFFF" style="width: 372.9959pt; height: 113.5725pt; background: #CCFFFF; padding: 12.96pt 2.88pt">
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">October 11&mdash;13, 2013</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; text-transform: uppercase; language: en-US" lang="en-US" xml:lang="en-US">Charismatic Conference</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; text-decoration: underline; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">2 NIGHTS $168</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">Call </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US"><span dir="ltr"></span>609.522.2269 </span><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">or </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">Book Now!</span></p></td></tr>
<tr>
<td width="200" bgcolor="#FF66CC" style="width: 147.6pt; height: 117.3876pt; background: #FF66CC; padding: 12.96pt 2.88pt
  12.96pt">
<p class="MsoNormal"><img alt="" width="197" height="131" src="images/specials-embed_files/image3221.png" v:shapes="_x0000_s1050" /></p></td>
<td width="320" bgcolor="#FF66CC" style="width: 372.9959pt; height: 117.3876pt; background: #FF66CC; padding: 12.96pt 2.88pt">
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">October 18&mdash;20, 2013</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">FABULOUS FIFTIES AND BEYOND WEEKEND</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; text-decoration: underline; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">2 NIGHTS $188</span></p>
<p class="MsoNormal" style="text-align: center"><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">Call </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US"><span dir="ltr"></span>609.522.2269 </span><span style="font-size: 14.0pt; font-family: Arial; language: en-US" lang="en-US" xml:lang="en-US">or </span><span style="font-size: 14.0pt; font-family: Arial; font-weight: bold; language: en-US" lang="en-US" xml:lang="en-US">Book Now!</span></p></td></tr></tbody></table>
<p align="center"><strong><font face="wp_bogus_font">Let our experienced
staff make you stay at the Monaco Motel a Royal One.
<o:p align="center"></o:p></font></strong></p>
<p align="center"><font face="wp_bogus_font">&nbsp;<span style="font-size: 9pt; line-height: 12pt">*Rates apply to reservations made by May 15, 2013.</span></font></p>
<p align="center"><font face="wp_bogus_font">
<o:p align="center"></o:p></font></p>
<p align="center"><font face="wp_bogus_font">
<o:p align="center"></o:p></font></p>
<p align="center"><font face="wp_bogus_font"><span style="font-size: 9pt; line-height: 12pt">**Members must present membership card and convention
registration to receive rate.</span>&nbsp;</font></p></td></tr></tbody></table><br />
<br /><br />
<table class="bodytext" border="0" cellspacing="1" cellpadding="5" width="450" align="center">
<tbody>
<tr bgcolor="#ffffcc">
<td>
<div align="center"><strong>More 2013 Specials at the Monaco Motel</strong><br />
<br /><a href="#CheerTech">Cheer Tech National's</a> | <a href="#waratjs"><font color="#0066cc">War at the Jersey Shore Wrestling</font></a><br />
&nbsp;<a href="#beastoftheeast">Beast of the East Cheer-leading Competition </a><br />
<a href="#beastoftheeast">ECC Cheer Shore Show Down</a> | <a href="#waratjs">Easter Holiday</a> | <a href="#tobic">Tournament of Bands Indoor Championships</a>&nbsp;l <a href="#ecncs">East Coast National Car Show</a> <br />
<a href="#stintspamr">Spring Thunder in the Sand Pro/Am Motocross Races</a> | <a href="#july4th">July 4th Celebration</a><br />
<a href="#august">July &amp; August Specials</a> | <a href="#rttsmr">Roar To The Shore Motorcycle Rally</a><br />
<a href="#ccs">Classic Car Show &amp; Irish Festival</a> | <a href="#thunder">Thunder on the Beach Monster Truck Race</a><br />
<a href="#proam">Thunder on the Sand Pro-Am</a> <br />
<a href="#50s">Fabulous '50s Weekend</a> | <a href="#50s">New Jersey Lighthouse Challenge</a> </div></td></tr>
<tr>
<td bgcolor="#ffffff" align="center"><a id="CheerTech" name="CheerTech">
<p><strong>Cheer Tech National's </strong></p>
<p>WEEKEND OF MARCH 9TH </p>
<p>Call <strong>609-522-2269</strong> or </p></a>
<p><a href="reservations.html">e-mail us</a> for more information! </p></td></tr>
<tr>
<td bgcolor="#ffffff" align="center">
<p><a id="waratjs" name="waratjs"><strong>War at the Jersey Shore Wrestling </strong></a></p>
<p><strong>Easter Holiday </strong></p>
<p>WEEKEND OF MARCH 29th</p>
<p>Call<strong> 609-522-2269 </strong>or </p>
<p><a href="reservations.html"><font color="#0066cc">e-mail us</font></a><a id="beastoftheeast" name="beastoftheeast"> for more information!</a></p></td></tr>
<tr>
<td bgcolor="#ffffff" align="center"><a id="waratjs" name="waratjs">
<p><strong>Beast of the East Cheer-leading Competition </strong></p>
<p><strong>ECC Cheer Shore Show Down </strong></p>
<p>WEEKEND OF APRIL 13TH </p>
<p>Call <strong>609-522-2269</strong> or </p></a>
<p><a href="reservations.html"><font color="#0066cc">e-mail us</font></a> for more information! </p></td></tr>
<tr>
<td bgcolor="#ffffff" align="center"><a id="tobic" name="tobic">
<p><strong>Tournament of Bands Indoor Championships</strong> </p>
<p>WEEKEND OF MAY 4TH</p>
<p>Call <strong>609-522-2269</strong> or </p></a>
<p><a href="reservations.html">e-mail us</a> for more information! </p></td></tr>
<tr>
<td bgcolor="#ffffff" align="center"><a id="ecncs" name="ecncs">
<p><strong>East Coast National Car Show</strong> </p>
<p>WEEKEND OF MAY 11TH </p>
<p>ANY 3 NIGHTS - DOUBLE OCCUPANCY </p>
<p>$369.00 TYPE A ROOM</p>
<p>Call <strong>609-522-2269</strong> or </p></a>
<p><a href="reservations.html">e-mail us</a> for more information! </p></td></tr>
<tr>
<td bgcolor="#ffffff" align="center"><a id="stintspamr" name="stintspamr">
<p><strong>Spring Thunder in the Sand Pro/Am Motocross Races</strong> </p>
<p>TBD</p>
<p>Call <strong>609-522-2269</strong> or </p></a>
<p><a href="reservations.html">e-mail us</a> for more information! </p></td></tr>
<tr>
<td bgcolor="#ffffff" align="center"><a id="july4th" name="july4th">
<p><strong>JULY 4TH CELEBRATION</strong> </p>
<p>ANY 4 NIGHTS - &nbsp;DOUBLE OCCUPANCY</p>
<p>$632.00 TYPE A ROOM</p>
<p>Call <strong>609-522-2269</strong> or </p></a>
<p><a href="reservations.html">e-mail us</a> for more information! </p></td></tr>
<tr>
<td bgcolor="#ffffff" align="center"><a id="august" name="august">
<p><strong>JULY &amp; AUGUST THRILL PACKAGE</strong></p>
<p><strong>AMUSEMENT AND WATERPARK SPECIALS</strong> </p>
<p><strong>3 NIGHT FAMILY ENTERTAINMENT PACKAGE</strong></p>
<p>AVAILABLE - &nbsp;JULY 7-10, AUGUST 18-21, AUGUST 25-28</p>
<p>INCLUDES TWO COMBINATION PASSES TO </p>
<p><strong>MOREY'S AMUSEMENT PIERS AND WATERPARKS</strong></p>
<p>$499 UP TO 4 FAMILY MEMBERS IN OUR TYPE A ROOM</p>
<p>Call <strong>609-522-2269</strong> or </p></a>
<p><a href="reservations.html">e-mail us</a> for more information! </p></td></tr>
<tr>
<td bgcolor="#ffffff" align="center"><a id="rttsmr" name="rttsmr">
<p><strong>Roar To The Shore Motorcycle Rally</strong> </p>
<p>WEEKEND OF SEPT 7TH</p>
<p>ANY 3 NIGHTS -&nbsp;DOUBLE OCCUPANCY</p>
<p>$449.00 TYPE A ROOM</p>
<p>Call <strong>609-522-2269</strong> or </p></a>
<p><a href="reservations.html">e-mail us</a> for more information! </p></td></tr>
<tr>
<td bgcolor="#ffffff" align="center"><a id="ccs" name="ccs">
<p><strong>Classic Car Show &amp;</strong> <strong>Auction</strong></p>
<p><strong>Irish Festival</strong> </p>
<p>WEEKEND OF SEPTEMBER 21ST</p>
<p>ANY 3 NIGHTS - DOUBLE OCCUPANCY</p>
<p>$449.00 TYPE A ROOM</p>
<p>Call <strong>609-522-2269</strong> or </p></a>
<p><a href="reservations.html">e-mail us</a> for more information! </p></td></tr>
<tr>
<td bgcolor="#ffffff" align="center"><a id="thunder" name="thunder">
<p><strong>MONSTER TRUCK BEACH BASH</strong></p>
<p><strong>WILDWOOD OLDE TIME ITALIAN FESTIVAL</strong></p>
<p>WEEKEND OF SEPT 28TH</p>
<p>ANY 2 NIGHTS - DOUBLE OCCUPANCY</p>
<p>$219.00 TYPE A ROOM</p>
<p>Call <strong>609-522-2269</strong> or </p></a>
<p><a href="reservations.html">e-mail us</a> for more information! </p></td></tr>
<tr>
<td bgcolor="#ffffff" align="center"><a id="proam" name="proam">
<p><strong>Thunder In The Sand Pro/Am Motocross Races </strong></p>
<p>TBD</p>
<p>Call <strong>609-522-2269</strong> or </p></a>
<p><a href="reservations.html">e-mail us</a> for more information! </p></td></tr>
<tr>
<td bgcolor="#ffffff" align="center"><a id="50s" name="50s">
<p><strong>Fabulous 50's Weekend</strong> </p>
<p><strong>New Jersey Lighthouse Challenge</strong> </p>
<p>WEEKEND OF OCT 19TH</p>
<p>ANY 2 NIGHTS - DOUBLE OCCUPANCY</p>
<p>$188.00 TYPE A ROOM</p>
<p>Call <strong>609-522-2269</strong> or </p></a>
<p><a href="reservations.html">e-mail us</a> for more information! </p></td></tr></tbody></table>
<p align="center"><strong><a href="calendarofevents.html"><br />
</a>PLEASE CHECK WITH US FOR&nbsp; SPECIALS NOT LISTED AND FOR GROUP RATES</strong></p>
<p align="center">CHILDREN MUST BE UNDER 16 YEARS OF AGE TO BE INCLUDED IN ANY SPECIALS</p>
<p align="center">ALL RATES ARE BASED ON DOUBLE OCCUPANCY UNLESS OTHERWISE NOTED<br />
<br /><a href="rates.html"><strong>View our standard room rates</strong></a></p>
<p align="center">&nbsp;</p></td></tr></tbody></table>
